<section class="content">
    <div>
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">View Plan Details</h3>
                    </div>
                    <form [formGroup]="viewPlanForm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Vendor Code   <span class="start_css">*</span> <br/>{{viewPlanDetails?.vendorCode}}</label>
                                        <ng-select (change)="getVendor($event)" [items]="vendorObj" bindLabel="code" 
                                            bindValue="id" formControlName="vendorId" class="form-control inputbox_css"
                                            (search)="searchVendor($event.term)">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Vendor Name <span class="start_css">*</span><br/>{{viewPlanDetails?.vendorName}} </label>
                                        <ng-select (change)="getVendor($event)" [items]="vendorObj" bindLabel="name"
                                            bindValue="id" formControlName="vendorId"
                                            class="form-control inputbox_css ">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Location <span class="start_css">*</span><br/> {{viewPlanDetails?.locationName}}</label>
                                        <select class="form-control inputbox_css " formControlName="locationId">
                                            <option></option>
                                            <option *ngFor="let item of locationObj" [value]="item.id">{{item.name }}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">
                                            Auditee Email Id
                                        </label>
                                        <input type="text" class="form-control inputbox_css mt_3"
                                            formControlName="auditeeEmail" >
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Vendor Category <span
                                                class="start_css">*</span></label>
                                        <ng-select [items]="categoryObj"
                                            bindLabel="categoryName" bindValue="id" formControlName="vendorCategoryId"
                                            class="form-control inputbox_css ">
                                        </ng-select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Any Other Location </label>
                                        <input #otherLocation type="text" class="form-control"
                                         formControlName="otherLocation" (input)="otherLocation.value = otherLocation.value.toUpperCase()">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Any Other Code</label>
                                        <input type="text" class="form-control inputbox_css mt_3"
                                            formControlName="otherCode" >
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Type Code</label>
                                        <input type="text" class="form-control inputbox_css" formControlName="typeCode"
                                            >
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Type Name</label>
                                        <input type="text" class="form-control inputbox_css" formControlName="typeName"
                                            >
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Type Location</label>
                                        <input type="text" class="form-control" formControlName="typeLocation" >
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Planned Start Date </label>
                                        <input type="date" class="form-control inputbox_css"
                                            formControlName="plannedStartDate" >
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Planned End Date </label>
                                        <input type="date" class="form-control inputbox_css"
                                            formControlName="plannedEndDate" >
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">
                                            Additional MSIL Email
                                        </label>
                                        <input type="text" class="form-control inputbox_css"
                                            formControlName="additionalMSILEmail" >
                                    </div>
                                </div>
                              
                                <span class="pt-2" *ngIf="viewPlanDetails?.attachment">
                                    <a (click)="download(viewPlanDetails.attachment)" style="color:#003cff">Click here to View Attachment</a>
                                </span>
                                <span class="pt-2" *ngIf="viewPlanDetails?.attachment1">
                                    <a (click)="download(viewPlanDetails.attachment1)" style="color:#003cff">Click here to View Attachment 2</a>
                                </span>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button type="submit" (click)="submit()" class="btn btn-primary">Submit</button>
                            <button class="btn btn-default" (click)="close()">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>