<section class="content">
    <div>
        <div class="row" >
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">View Plan Details</h3>
                    </div>
                      <form [formGroup]="viewPlanForm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Vendor Code<span class="start_css">*</span></label>
                                        <input type="text" class="form-control inputbox_css "
                                        formControlName="vendorCode" placeholder="Type Any Other location">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Vendor Name<span class="start_css">*</span></label>
                                        <input type="text" class="form-control inputbox_css "
                                        formControlName="vendorName" placeholder="Type Any Other location">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Location <span class="start_css">*</span></label>
                                        <input type="text" class="form-control inputbox_css "
                                        formControlName="locationName" placeholder="Type Any Other location">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Any Other location <span
                                                class="start_css">*</span></label>
                                        <input type="text" class="form-control inputbox_css"
                                        formControlName="otherLocation" placeholder="Type Any Other location">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Any Other Code <span
                                                class="start_css">*</span></label>
                                        <input type="text" class="form-control inputbox_css mt_3" placeholder="Type Any Other Code" formControlName="otherCode">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Type Code</label>
                                        <input type="text" class="form-control inputbox_css " placeholder="Type Code" formControlName="typeCode">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Type Name</label>
                                        <input type="text" class="form-control inputbox_css " placeholder="Type Name" formControlName="typeName">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Type location</label>
                                        <input type="text" class="form-control inputbox_css " placeholder="Type location" formControlName="typeLocation">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Planned Start Date <span
                                                class="start_css">*</span></label>
                                        <input type="date" class="form-control inputbox_css mt_3" formControlName="plannedStartDate">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Planned End Date <span
                                                class="start_css">*</span></label>
                                        <input type="date" class="form-control inputbox_css mt_3"
                                        formControlName="plannedEndDate">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">
                                            Additional MSIL email
                                        </label>
                                        <input type="text" class="form-control inputbox_css " 
                                            placeholder="Enter Auditee MSIL email"
                                            formControlName="additionalMSILEmail">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">
                                            Auditee email id <span class="start_css">*</span>
                                        </label>
                                        <input type="text" class="form-control inputbox_css mt_3" 
                                            placeholder="xyz@gmail.com" 
                                            formControlName="auditeeEmail">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">
                                            Upload File
                                        </label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input inputbox_css" id="exampleInputFile" formControlName="attachment">
                                                <label class="custom-file-label inputbox_css" for="exampleInputFile">Choose
                                                    file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer" *ngIf="isSuperAdmin">
                            <!-- <button class="btn btn-primary" (click)="submit()">Submit</button> -->
                            <button class="btn btn-default" (click)="close()">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

