<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="header_card">
                            <h3 class="card-title">Audit Plan Details ( Action Plan )</h3>
                         <!--    <div class="d-flex align-items-center">
                                <div class=" mr-1">
                                    <label class="filter_label">From Date</label>
                                  <input type="date" [(ngModel)]="plannedStartDate" class="form-control  filter_css" placeholder="Date ">
                                </div>
                               <div class=" mr-1">
                                    <label class="filter_label">To Date</label>
                                  <input type="date" [(ngModel)]="plannedEndDate" class="form-control filter_css" placeholder="Date ">
                                </div>
                            </div> -->
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive max_hei_table">
                            <table id="" class="table table-bordered table-hover">
                                <thead>
                                    <tr class=" sticky_header">
                                        <th>Audit No</th>
                                        <th>Vendor Code </th>
                                        <th>Planned Start Date </th>
                                        <th>Planned End Date</th>
                                       
                                        <th>Audit Completion Date</th>
                                        <th>No Of Observation</th>
                                        <th>Score</th>
                                        <th>Action Plan</th>
                                        <th>Status At Auditor</th>    
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tbody_data" *ngFor="let item of auditPlanList| paginate: { itemsPerPage: pagination.pageSize, currentPage: pagination.pageNumber } ;let i =index">
                                        <td>{{item.auditNumber}}</td>
                                        <td>{{item.vendorCode}}</td>
                                        <td>{{item.plannedStartDate | date:dateFormat}}</td>
                                        <td>{{item.plannedEndDate | date:dateFormat}}</td>
                                       
                                        <td>{{item.reportReleaseDate | date:dateFormat}}</td>
                                        <td>{{item.observationCount}}</td>
                                        <td>
                                            <p><b>{{item.score}}</b></p>
                                        </td>
                                        <td><button class="btn btn-primary">Submitted</button></td>
                                        <td>
                                            <button (click)="goToCategory(item.id)"
                                            [ngClass]="{'submit': item.actionPlanStatus === 'Submitted', 'to_be_submit' : item.actionPlanStatus === 'To be Submitted','to_be_received': item.actionPlanStatus === 'To be Received','accepted': item.actionPlanStatus ==='Accepted','rejected': item.actionPlanStatus ==='Rejected' }" >{{item.actionPlanStatus =='To be Received' ? 'Pending' : item.actionPlanStatus}}</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <nav aria-label="Page navigation example">
                            <div class="pagination justift_end">
                              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                            </div>
                          </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>