.submit {
    background: #1a65a3; 
    padding: 4px 14px;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    border: none !important;
   
}

.to_be_submit{
    background: palevioletred;
    padding: 4px 14px;
    color: #fff;
    margin-bottom: 10px;
    border: none !important;
    cursor: pointer;
}

.to_be_received{
    background: orange;
    padding: 4px 14px;
    color: #fff;
    margin-bottom: 10px;
    border: none !important;
    cursor: pointer;
}

.rejected{
    background: #dc3545;
    padding: 4px 14px;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    border: none !important;
}

.accepted{
    background: green; 
    padding: 4px 14px;
    color: #fff;
    margin-bottom: 10px;
    cursor: pointer;
    border: none !important;
}