<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="header_card">
                            <h3 class="card-title">Audit Area Details</h3>
                            <div class="d-flex align-items-center">
                                <h6 class="mr-1 mb-0">Filters:-</h6>
                                <input type="text" class="form-control mr-1 filter_css" placeholder="Vendor Name ">
                                <input type="text" class="form-control mr-1 filter_css" placeholder="Date ">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive max_hei_table">
                            <table id="" class="table table-bordered table-hover">
                                <thead>
                                    <tr class=" text-center sticky_header">
                                        <th>Vendor Code </th>
                                        <th>Vendor Name</th>
                                        <th>Location</th>
                                        <th>Any Other Location</th>
                                        <th>Planned Start Date </th>
                                        <th>Planned End Date</th>
                                       
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tbody_data">
                                     <td></td>
                                     <td></td>
                                     <td></td>
                                     <td></td>
                                     <td></td>
                                     <td></td>
                                   
                                    
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justift_end">
                                <li class="page-item">
                                    <a class="page-link"  aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" >1</a></li>
                                <li class="page-item"><a class="page-link" >2</a></li>
                                <li class="page-item"><a class="page-link" >3</a></li>
                                <li class="page-item">
                                    <a class="page-link"  aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>