<div class="card">
    <div class="card-header">
        <div class="header_card">
            <h3 class="card-title">{{categoryName}}</h3>
        </div>
    </div>
    <div class="card-body">
       
        <div class="table-responsive max_hei_table">
            <table id="" class="table table-bordered table-hover">
                <thead>
                    <tr class="text-center">
                        <th colspan="10">Observation({{actionPlanList.length}})</th>
                    </tr>
                    <tr class=" text-center sticky_header">
                        <th>Item No.</th>
                        <th>Sub Item No.</th>
                        <th>Desired Improvement Points </th>
                        <th>Detail of Improvement Plan</th>
                        <th>In-Charge</th>
                        <th>Date</th>
                        <th>Download</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tbody_data" *ngFor="let item of actionPlanList| paginate: { itemsPerPage: pagination.pageSize, currentPage: pagination.pageNumber } ;let i =index">
                        <td><p class="w-170 show1">{{item.item}}</p></td>  
                        <td><p class="w-170 show1">{{item.subItem}}</p></td>
                        <td><p class="w-170 show1">{{item.remark}}</p></td>
                        <td><p class="w-170 show1">{{item.detailOfImprovement}}</p></td>
                        <td><p class="w-170 show1">{{item.incharge}}</p></td>
                        <td>{{item.dateOfSubmission | date:dateFormat}}</td>
                        <td>
                            <a *ngIf="item.attachment" (click)="download(item.attachment)"><img src="../../../../assets/img/pie-chart.png" class="w_30"></a>
                        </td>
                        <td><div *ngIf="item.attachment && !item.closureStatus">
                            <button class="btn btn-success mr-1" 
              
                            (click)="openModal(open,item)">Open</button>
                           <button class="btn btn-danger  mr-1" 
                
                           (click)="openModal(close,item)">Close</button>
                           <button class="btn btn-primary" style="color: #fff;"
                          
                           (click)="openModal(partialClose,item)">Partially Close</button>
                        </div>
                        <div *ngIf="item.closureStatus && item.attachment">
                         <button class="btn btn-default cursor-none">{{item.closureStatus}}</button>
                        </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
       
        <nav aria-label="Page navigation example">
            <div class="pagination justift_end">
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
        </nav>
    </div>
    <div class="card-footer">
        <button (click)="back()" class="btn btn-default">Back</button>
    </div>
</div>
