<div class="card">
    <div class="card-header">
        <div class="header_card">
            <h3 class="card-title">Regulation for initial production control </h3>
            <div class="form-group mb-0 w_26">
                <select class="form-control filter_css">
                    <option>Select Vendor Name</option>
                    <option>Vendor1</option>
                    <option>Vendor1</option>
                    <option>Vendor1</option>
                    <option>Vendor1</option> 
                    <option>Vendor1</option> 
                    <option>Vendor1</option>
                </select>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive max_hei_table" >
            <table id="" class="table table-bordered table-hover">
                <thead>
                    <tr class="text-center">
                        <th colspan="10">Observation({{actionPlanList.length}})</th>
                    </tr>
                    <tr class=" text-center sticky_header">
                        <th>Observation</th>
                        <th>ITEM NO.</th>
                        <th>SUB ITEM NO. </th>
                        <th>DESIRED IMPROVEMENT POINTS</th>
                        <th>DETAIL OF IMPROVEMENT PLAN</th>
                        <th>IN-CHARGE</th>
                        <th>DATE</th>
                        <th>Download</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tbody_data" *ngFor="let item of actionPlanList| paginate: { itemsPerPage: pagination.pageSize, currentPage: pagination.pageNumber } ;let i =index">
                        <td>{{(i+1) + pagination.pageSize * ( pagination.pageNumber-1 ) }}</td>    
                        <td>{{i+1}}</td>
                        <td>{{i+1}}.1</td>
                        <td>{{item.remarkOfAuditor}}</td>
                        <td>{{item.detailOfImprovement}}</td>
                        <td>{{item.incharge}}</td>
                        <td>{{item.dateOfSubmission | date:dateFormat}}</td>
                        <td></td>
                        <td><button class="btn btn-success mr-1" 
              
                            (click)="observeAction(1,item.id)">Open</button>
                           <button class="btn btn-danger  mr-1" 
                
                           (click)="observeAction(3,item.id)">Close</button>
                           <button class="btn btn-primary" style="color: #fff;"
                          
                           (click)="observeAction(2,item.id)">Partially Close</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example">
            <div class="pagination justift_end">
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
        </nav>
    </div>
    <div class="card-footer">
        <button class="btn btn-success">Submit</button>
    </div>
</div>

<!-- <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-body">
            <label>Remarks</label>
            <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="save()">Save    changes</button>
        </div>
      </div>
    </div>
</div> -->