<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <div class="card card-default">
                <div class="card-header">
                  <h3 class="card-title">Employee Details</h3>
                </div>
                <form [formGroup]="employeeForm">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="form_label">Employee Name</label>
                          <input type="text" class="form-control inputbox_css" 
                                 placeholder="Enter Employee Name" 
                                 formControlName="name" maxlength="200">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="form_label">Employee Code</label>
                          <input type="text" class="form-control inputbox_css" 
                                 placeholder="Enter Employee Code"
                                 formControlName="code" maxlength="200">
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="form_label">Employee Role</label>
                          <select class="form-control" formControlName="roleId">
                            <option *ngFor="let item of rolesObj" [value]="item.id">{{item.name}}</option>
                          </select>
                        </div>
                      </div>
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="form_label">Employee UserName</label>
                          <input type="text" class="form-control inputbox_css" 
                             placeholder="Enter Employee UserName"
                            formControlName="userName" maxlength="200">
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="card-footer">
                    <button type="button" (click)="save()" class="btn btn-primary mr-1">Save</button>
                    <button type="button" (click)="close()" class="btn btn-default">Back</button>
                  </div>
                </form>
              </div>
            </div>
        </div>
    </div>
</section>

