<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="header_card">
              <h3 class="card-title">Assign Auditor</h3>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="assignAuditorForm">
              <div class="table-responsive max_hei_table" style="">
                <table class="table table-bordered" formArrayName="assignAuditor">
                  <thead class="sticky_header">
                    <tr>
                      <th>S.No</th>
                      <th>Assign Auditor</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let obje of assignAuditorArray.controls;let i = index;">
                      <td>{{i+1}}</td>
                      <td class="p-1" [formGroupName]="i">
                        <!-- <select class="form-control" formControlName="auditorId">
                          <option *ngFor="let item of auditorList" [value]="item.id">{{item.name}} ({{item.code}})
                          </option>
                        </select> -->
                        <ng-select [items]="auditorList[i]" bindLabel="code" bindValue="id"
                          formControlName="auditorId" class="form-control"
                          (search)="searchAuditor($event.term, i)" (change)="audotorChange($event, i)">
                        </ng-select>
                      </td>
                      <td class="btn-width p-1">
                        <button class="btn btn-success mr-2 py-1" (click)="addAuditor('')">
                          +
                        </button>
                        <button class="btn btn-danger py-1" *ngIf="i > 0" (click)="removeAuditor(i)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </form>
          </div>
          <div class="card-footer text-right">
            <button type="button" class="btn btn-primary" (click)="assign()">Assign</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">Back</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>