<section class="content">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card" ng-show="myVar2==true">
          <div class="card-header">
            <div class="header_card">
              <h3 class="card-title">View Plan Details</h3>
            </div>
          </div>
          <div class="card-body">
            <form [formGroup]="assignAuditorForm">
              <div class="table-responsive max_hei_table">
                <table class="table table-bordered" formArrayName="assignAuditor">
                  <thead class="sticky_header">
                    <tr>
                      <th>S.No</th>
                      <th>Assign Auditor</th>
                      <th>Action</th>
                      </tr>
                   
                  </thead>
                  <tbody>
                    <tr *ngFor="let obje of assignAuditorArray.controls;let i = index;">
                      <td>{{i+1}}</td>
                      <td class="p-1" [formGroupName]="i">
                        <select class="form-control">
                          <option value="Select">Select</option>
                          <option value="Auditor1 ">Auditor1 </option>
                          <option value="Auditor2">Auditor2</option>
                          <option value="Auditor3 ">Auditor3 </option>
                          <option value="Auditor4">Auditor4</option>
  
                          <option value="Auditor5 ">Auditor5 </option>
                          <option value="Auditor6">Auditor6</option>
  
                        </select>
                      </td>
                      <td class="btn-width p-1">
                        <button class="btn btn-success mr-2 py-1" (click)="addAuditor('')">
                          +
                        </button>
                        <button class="btn btn-danger py-1" *ngIf="i > 0" (click)="removeAuditor(i)">
                          <i class="fa fa-trash"></i>
                        </button>
                      </td>
                    </tr>
                    </tbody>
                </table>
                <!-- <table id="example2" class="table table-bordered table-hover">
                          <thead>
                            <tr class="now_rap text-center sticky_header">
                              <th>S.No</th>
                              <th>Assign Auditor </th>
                              <th>Select </th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr class="tbody_data">
                              <td>1</td>
                              <td>
                                <select class="form-control">
                                  <option>Select</option>
                                  <option>Auditor1 </option>
                                  <option>Auditor2</option>
                                  <option>Auditor3 </option>
                                  <option>Auditor4</option>
                                  <option>Auditor5 </option>
                                  <option>Auditor6</option>
                                </select>
                              </td>
                              <td>
                                <button class="btn btn-success">+</button>
                                <button class="btn btn-danger">-</button>
                              </td>
                            </tr>
                            <tr class="tbody_data">
                              <td>1</td>
                              <td>
                                <select class="form-control">
                                  <option>Select</option>
                                  <option>Auditor1 </option>
                                  <option>Auditor2</option>
                                  <option>Auditor3 </option>
                                  <option>Auditor4</option>
                                  <option>Auditor5 </option>
                                  <option>Auditor6</option>
                                </select>
                              </td>
                              <td>
                                <button class="btn btn-success">+</button>
                                <button class="btn btn-danger">-</button>
                              </td>
                            </tr>
                            <tr class="tbody_data">
                              <td>1</td>
                              <td>
                                <select class="form-control">
                                  <option>Select</option>
                                  <option>Auditor1 </option>
                                  <option>Auditor2</option>
                                  <option>Auditor3 </option>
                                  <option>Auditor4</option>
                                  <option>Auditor5 </option>
                                  <option>Auditor6</option>
                                </select>
                              </td>
                              <td>
                                <button class="btn btn-success">+</button>
                                <button class="btn btn-danger">-</button>
                              </td>
                            </tr>
                          </tbody>
                        </table> -->
              </div>
            </form>
          </div>
          <div class="card-footer text-right">
            <button type="button" class="btn btn-primary" (click)="assign()">Assign</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" (click)="close()">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>