<section class="content">
    <div>
        <div class="row" >
            <div class="col-md-12">
                <div class="card card-default">
                    <div class="card-header">
                        <div class="d-flex justif_space_betwen">
                        <h3 class="card-title">Create Plan Details</h3>
                        <button class="btn btn-success d-flex align-items-center">
                            <i class="fas fa-upload mr-1 upload_ico"></i>
                            <span class="now_rap">Upload Plan</span>
                          </button>
                          </div>
                    </div>
                      <form [formGroup]="createPlanForm">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Vendor Code <span class="start_css">*</span></label>
                                        <select class="form-control" formControlName="vendorId">
                                            <option *ngFor="let item of vendorObj" [value]="item.id"> {{item.code}}  </option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Vendor Name <span class="start_css">*</span></label>
                                    
                                        <select class="form-control" formControlName="vendorId">
                                            <option *ngFor="let item of vendorObj" [value]="item.id">   {{item.name }}</option>
                                        </select>
                                      
                                    </div>
                                </div>
                        <!--         <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Vendor Name & <span class="start_css">*</span></label>
                                        <select class="form-control" formControlName="vendor_name">
                                            <option>Select Vendor Name</option>
                                            <option>Vendor1</option>
                                            <option> Vendor2</option>
                                            <option>Vendor3</option>
                                            <option>Vendor4</option>
                                        </select>
                                    </div>
                                </div> -->
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Location <span class="start_css">*</span></label>
                                        <select class="form-control" formControlName="locationId">
                                            <option  *ngFor="let item of locationObj" [value]="item.id">{{item.name }}</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Any Other location <span
                                                class="start_css">*</span></label>
                                        <input type="text" class="form-control"
                                        formControlName="otherLocation" placeholder="Type Any Other location">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Any Other Code <span
                                                class="start_css">*</span></label>
                                        <input type="text" class="form-control" placeholder="Type Any Other Code" formControlName="otherCode">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Type Code</label>
                                        <input type="text" class="form-control" placeholder="Type Code" formControlName="typeCode">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Type Name</label>
                                        <input type="text" class="form-control" placeholder="Type Name" formControlName="typeName">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Type location</label>
                                        <input type="text" class="form-control" placeholder="Type location" formControlName="typeLocation">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Planned Start Date <span
                                                class="start_css">*</span></label>
                                        <input type="date" class="form-control inputbox_css" formControlName="plannedStartDate">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">Planned End Date <span
                                                class="start_css">*</span></label>
                                        <input type="date" class="form-control inputbox_css"
                                        formControlName="plannedEndDate">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">
                                            Additional MSIL email
                                        </label>
                                        <input type="text" class="form-control" 
                                            placeholder="Enter Auditee MSIL email"
                                            formControlName="additionalMSILEmail">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">
                                            Auditee email id <span class="start_css">*</span>
                                        </label>
                                        <input type="text" class="form-control" 
                                            placeholder="xyz@gmail.com" 
                                            formControlName="auditeeEmail">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label class="form_label">
                                            Upload File
                                        </label>
                                        <div class="input-group">
                                            <div class="custom-file">
                                                <input type="file" class="custom-file-input" (change)="onFileSelected($event)" id="exampleInputFile" formControlName="attachment">
                                                <label class="custom-file-label" for="exampleInputFile">Choose
                                                    file</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-primary" (click)="submit()">Submit</button>
                            <button class="btn btn-default" (click)="close()">Close</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>