<div class="card">
    <div class="card-header">
        <div class="header_card">
            <h3 class="card-title">{{categoryName}}</h3>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive max_hei_table-400" >
            <table id="" class="table table-bordered table-hover">
                <thead>
                    <tr class="text-center">
                        <th colspan="8">Observation({{actionPlanList.length}}) - {{actionPlanStatus}}</th>
                    </tr>
                    <tr class=" text-center sticky_header">
                        <th>Observation</th>
                        <th>Audit Area</th>
                        <th>Regulation </th>
                        <th >Desired Improvement Points</th>
                        <th>Detail of Improvement Plan</th>
                        <th>In-Charge</th>
                        <th>Date</th>
                        <th>Auditor Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tbody_data" *ngFor="let item of actionPlanList| paginate: { itemsPerPage: pagination.pageSize, currentPage: pagination.pageNumber } ;let i =index">
                        <td>{{(i+1) + pagination.pageSize * ( pagination.pageNumber-1 ) }}</td>    
                        <td><p class="show">{{item.auditArea}}</p></td>
                        <td><p class="show">{{item.regulationText}}</p></td>
                        <td><p class="w-170">{{item.remark}}</p></td>
                        <td><textarea [(ngModel)]="item.detailOfImprovement" class="form-control width-300 "></textarea></td>
                        <td><textarea [(ngModel)]="item.incharge" class="form-control width-300"></textarea>
                        </td>
                        <td ><input  [min]="minStartDate" [(ngModel)]="item.dateOfSubmission" class="inputbox_css-date" type="date"></td>
                        <td><p class="show1 mb-0">{{item.remarkOfAuditor
                        }}</p></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example">
            <div class="pagination justift_end">
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
          </nav>
    </div>
    <div class="card-footer">
        <button type="button" (click)="submit()" class="btn btn-success">Save</button>
         <button type="button" (click)="back()" class="btn btn-default">Back</button>

     </div>
</div>