

<section class="content pt-2">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="card" ng-show="myVar==true">
          <div class="card-header">
            <div class="header_card">
              <h3 class="card-title">View Plan Details</h3>
              <button class="btn btn-success"><img src="dist/img/icons/upload.png" class="w_17 mr-1"><span>Upload Plan</span></button>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">

            <div class="table-responsive max_hei_table">
              <table id="example2" class="table table-bordered table-hover">

                <thead>
                  <tr class="now_rap text-center sticky_header">
                    <th>Audit No</th>
                    <th>Vendor Code </th>
                    <th>Vendor Name</th>
                    <th>Location</th>
                    <th>Any Other Location</th>
                    <th>Planned Start Date </th>
                    <th>Planned End Date</th>
                  

                    <th>Status </th>

                    <th>Action </th>

                  </tr>
                </thead>
                <tbody>
                  <tr class="tbody_data">
                    <td>AU1</td>
                    <td>VN123</td>
                    <td>Vendor</td>
                    <td>Location</td>
                    <td>Any Location</td>
                    <td>12-2-2022</td>
                    <td>12-4-2022</td>
                    
                    <td><p class="pend_coloe  backgr_blue">Pending </p></td>

                    <td>
                      <a ng-click="ViewPlan()"><img src="dist/img/icon/view.png" class="viwe_iamge"></a>

                      <!--<a ng-click="Asign()"><img src="dist/img/icons/audit.png" class="viwe_iamge"></a>-->
                    </td>

                  </tr>
                  <tr class="tbody_data">
                    <td>AU1</td>
                    <td>VN123</td>
                    <td>Vendor</td>
                    <td>Location</td>
                    <td>Any Location</td>
                    <td>12-2-2022</td>
                    <td>12-4-2022</td>
                    <td><p class="pend_coloe  backgr_green">Approve </p></td>

                    <td>
                      <a ng-click="ViewPlan()"><img src="dist/img/icon/view.png" class="viwe_iamge"></a>

                      <a ng-click="Asign()" data-toggle="tooltip" data-placement="top" title="Add Auditor"><img src="dist/img/icons/audit.png" class="viwe_iamge"></a>
                    </td>

                  </tr>
                  <tr class="tbody_data">

                    <td>AU1</td>
                    <td>VN123</td>
                    <td>Vendor</td>
                    <td>Location</td>
                    <td>Any Location</td>
                    <td>12-2-2022</td>
                    <td>12-4-2022</td>
                    <td><p class="pend_coloe  backgr_yellow">Auditor Assigend </p></td>

                    <td>
                      <a ng-click="ViewPlan()"><img src="dist/img/icon/view.png" class="viwe_iamge"></a>

                      <a ng-click="Asign()" data-toggle="tooltip" data-placement="top" title="Add Auditor"><img src="dist/img/icons/audit.png" class="viwe_iamge"></a>
                    </td>

                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
        <div class="card" ng-show="myVar2==true">
          <div class="card-header">
            <div class="header_card">
              <h3 class="card-title">View Plan Details</h3>

            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="table-responsive max_hei_table">
              <table id="example2" class="table table-bordered table-hover">

                <thead>
                  <tr class="now_rap text-center sticky_header">
                    <th>S.No</th>
                    <th>Assign Auditor </th>
                    <th>Select </th>



                  </tr>
                </thead>
                <tbody>
                  <tr class="tbody_data">
                    <td>1</td>
                    <td>
                      <select class="form-control">
                        <option>Select</option>
                        <option>Auditor1 </option>
                        <option>Auditor2</option>
                        <option>Auditor3 </option>
                        <option>Auditor4</option>

                        <option>Auditor5 </option>
                        <option>Auditor6</option>

                      </select>
                    </td>

                    <td>
                      <button class="btn btn-success">+</button>
                      <button class="btn btn-danger">-</button>
                    </td>


                  </tr>
                  <tr class="tbody_data">
                    <td>1</td>
                    <td>
                      <select class="form-control">
                        <option>Select</option>
                        <option>Auditor1 </option>
                        <option>Auditor2</option>
                        <option>Auditor3 </option>
                        <option>Auditor4</option>

                        <option>Auditor5 </option>
                        <option>Auditor6</option>

                      </select>
                    </td>

                    <td>
                      <button class="btn btn-success">+</button>
                      <button class="btn btn-danger">-</button>
                    </td>


                  </tr>
                  <tr class="tbody_data">
                    <td>1</td>
                    <td>
                      <select class="form-control">
                        <option>Select</option>
                        <option>Auditor1 </option>
                        <option>Auditor2</option>
                        <option>Auditor3 </option>
                        <option>Auditor4</option>

                        <option>Auditor5 </option>
                        <option>Auditor6</option>

                      </select>
                    </td>

                    <td>
                      <button class="btn btn-success">+</button>
                      <button class="btn btn-danger">-</button>
                    </td>


                  </tr>
                </tbody>
              </table>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer text-right">

            <button type="button" class="btn btn-primary" ng-click="assign()">Assign</button>
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="AsignClose()">Close</button>
          </div>
        </div>
        <div class="card" ng-show="myVar1==true">
          <div class="card-header">
            <div class="header_card">
              <h3 class="card-title">View Plan Details</h3>

            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-sm-3">


                <div class="form-group">
                  <label class="form_label">Vendor Code <span class="start_css">*</span></label>
                  <input list="europe-countries" placeholder="Search Vendor Code" class="form-control" disabled>
                  <datalist id="europe-countries">
                   
                    <option>VCNH1231</option>
                   
                  </datalist>

                </div>

              </div>

              <div class="col-sm-3">


                <div class="form-group">
                  <label class="form_label">Vendor Name <span class="start_css">*</span></label>
                  <select class="form-control" disabled>
                   
                    <option>Vendor1</option>
                   
                  </select>
                </div>

              </div>
              <div class="col-sm-3">


                <div class="form-group">
                  <label class="form_label">Location <span class="start_css">*</span></label>
                  <select class="form-control" disabled>
                  
                    <option>Location2</option>
                   
                  </select>

                </div>


              </div><!--row-->


              <div class="col-sm-3">


                <div class="form-group">
                  <label class="form_label">Any Other location <span class="start_css">*</span></label>
                  <input type="text" class="form-control" placeholder="XXXXXXXX" disabled>

                </div>


              </div>
              <div class="col-sm-3">


                <div class="form-group">
                  <label class="form_label">Any Other Code <span class="start_css">*</span></label>
                  <input type="text" class="form-control" placeholder="XXXXXX" disabled>

                </div>


              </div>

              <div class="col-sm-3">


                <div class="form-group">
                  <label class="form_label">Type Code</label>
                  <input type="text" class="form-control" placeholder="XXXXX" disabled>
                </div>

              </div>
              <div class="col-sm-3">


                <div class="form-group">
                  <label class="form_label">Type Name</label>
                  <input type="text" class="form-control" placeholder="XXXXX" disabled>
                </div>

              </div>
              <div class="col-sm-3">


                <div class="form-group">
                  <label class="form_label">Type location</label>
                  <input type="text" class="form-control"placeholder="XXXXX" disabled>
                </div>


              </div>

              <div class="col-sm-3">


                <div class="form-group">
                  <label class="form_label">Planned Start Date <span class="start_css">*</span></label>
                  <input type="text" class="form-control inputbox_css" placeholder="XXXXX" disabled>
                </div>

              </div>

              <div class="col-sm-3">


                <div class="form-group">
                  <label class="form_label">Planned End Date <span class="start_css">*</span></label>
                  <input type="text" class="form-control inputbox_css" placeholder="XXXXX" disabled>
                </div>

              </div>

              <div class="col-sm-3">
                <div class="form-group">
                  <label class="form_label">
                    Additional MSIL email
                  </label>
                  <input type="text" class="form-control" ng-model="driverObj.DriverName"
                         placeholder="XXXXX" disabled >

                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="form_label">
                    Auditee email id <span class="start_css">*</span>
                  </label>
                  <input type="text" class="form-control" ng-model="driverObj.DriverName"
                         placeholder="xyz@gmail.com" disabled>

                </div>
              </div>
              <div class="col-sm-3">
                <div class="form-group">
                  <label class="form_label">
                    Upload File

                  </label>

                 
                  <a href="http://localhost:64604/index.html#/ViewPlan/">http://localhost:64604/index.html#/ViewPlan/</a>
                   
                </div>
              </div>
            </div>



          </div>
          <!-- /.card-body -->
          <div class="card-footer">

            <!--<button type="button" class="btn btn-primary" ng-click="Submit()">Submit</button>-->
            <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="Close()" >Close</button>
          </div>
        </div>
      </div>
      <!-- /.col -->
    </div>
   

  </div>
</section>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content view_plan_popup">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">View Plan</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        
      </div>
      <div class="modal-footer">

        <button type="button" class="btn btn-primary">Save changes</button>
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

