<section class="content pt-2">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="card" ng-show="Auditarea==true">
          <div class="card-header">
            <div class="header_card">
              <h3 class="card-title">Audit Area Details</h3>
              <!--<div class="search-container">
                <div class="autocomplete">
                  <input id="myInput" type="text" name="myCountry" placeholder="Country">
                </div>
              </div>-->

              <!--<a href="" ng-click="AddAuditArea()" class="btn btn-blue"> <img src="dist/img/icons/traffic-data.png" class="side_imgmaster mr-1">Add Audit Area</a>-->
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="" class="table table-bordered table-hover">

              <thead>
                <tr class="now_rap text-center sticky_header">
                  <th>Business Unit </th>
                  <th>Planned Start Date </th>
                  <th>Planned End Date</th>
                  <th>Auditor </th>
                  <th> VSA users</th>
                  <th>Locations</th>

                  <th>Status </th>
                  <th>View</th>

                  <th>Initiate Audit </th>

                </tr>
              </thead>
              <tbody>
                <tr class="tbody_data">


                  <td>Vendor1</td>
                  <td>12-2-2022</td>
                  <td>12-4-2022</td>
                  <td>abc</td>
                  <td>abc</td>
                  <td>abc</td>
                  <td><p class="pend_coloe  backgr_green">Complete </p></td>
                  <td>
                    <!--<a ng-click="myVar1=false"><img src="dist/img/icon/view.png" class="viwe_iamge"></a>-->
                    <a ><img src="dist/img/icon/view.png" class="viwe_iamge"></a>

                  </td>

                  <td>
                    <!--<a ng-click="myVar1=false"><img src="dist/img/icon/view.png" class="viwe_iamge"></a>-->

                    <a ng-click="AddAuditArea()"><img src="dist/img/icons/auditini.png" class="viwe_iamge"></a>

                  </td>

                </tr>
                <tr class="tbody_data">


                  <td>Vendor2</td>
                  <td>12-2-2022</td>
                  <td>12-4-2022</td>
                  <td>abc</td>
                  <td>abc</td>
                  <td>abc</td>
                  <td><p class="pend_coloe  backgr_green">Approve </p></td>

                  <td>
                    <a><img src="dist/img/icon/view.png" class="viwe_iamge"></a>


                  </td>
                  <td>
                    <a ng-click="AddAuditArea()"><img src="dist/img/icons/auditini.png" class="viwe_iamge"></a>


                  </td>

                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
        <div class="card" ng-show="Auditarea1==true">
          <div class="card-header">
            <div class="header_card d-flex justify-content-between">
              <h3 class="card-title">Audit Area Details (Vendor 1)</h3>
            
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4">


                <div class="form-group">
                  <label class="form_label">Vendor Name</label>
                  <input type="text" class="form-control inputbox_css"
                         placeholder="Dummy Industries,
Hypothetical City, Kodaikanal" maxlength="200" disabled>
                </div>

              </div>
              <div class="col-sm-4">


                <div class="form-group">
                  <label class="form_label">Start Date</label>
                  <input type="date" class="form-control inputbox_css"
                         disabled>
                </div>

              </div>
              <div class="col-sm-4">


                <div class="form-group">
                  <label class="form_label">End Date</label>
                  <input type="date" class="form-control inputbox_css"
                         disabled>
                </div>

              </div>

              <div class="col-sm-4">


                <div class="form-group">
                  <label class="form_label">Part Name</label>
                  <input type="text" class="form-control inputbox_css" ng-model="influencerObj.FirstName"
                         placeholder="Enter Part Name" maxlength="200">
                </div>

              </div>
            
              <div class="col-sm-4">


                <div class="form-group">
                  <label class="form_label">Date</label>
                  <input type="date" class="form-control inputbox_css">
                </div>

              </div>
              <div class="col-sm-4">


                <div class="form-group">
                  <label class="form_label">Auditors</label>
                  <select class="form-control">
                    <option>Select</option>
                    <option>Auditors 1</option>
                    <option>Auditors  2</option>

                  </select>
                </div>

              </div>


            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="table table-bordered">
                  <thead>
                    <tr>
                      <th scope="col">S.No</th>
                      <th scope="col">Vendor Attendees</th>
                      <th scope="col">Action</th>


                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <th scope="row">1</th>
                      <td>
                        <input type="text" class="form-control inputbox_css" ng-model="influencerObj.FirstName"
                               placeholder="Enter Vendor Attendees" maxlength="200">
                      </td>
                      <td>
                        <button class="btn btn-primary">+</button>
                        <button class="btn btn-danger">-</button>
                      </td>

                    </tr>

                  </tbody>
                </table>
              </div><!--ro wenx-->
            </div>
            <!-- /.card-body -->
          </div>
          <div class="card-footer text-right">
            <button ng-click="Next()" class="btn btn-primary">Next</button>
            <button ng-click="Back()" class="btn btn-default">Back</button>

          </div>
        </div>
        <div class="card" ng-show="Auditarea2==true">
          <div class="card-header">
            <div class="header_card">
              <h3 class="card-title">Audit Area Details (Vendor 1)</h3>
              <button class="btn btn-success">Download PDF</button>
            </div>
          </div>
          <div class="card-body">
            <div class="row mb-2">
              <div class="col-sm-2">
                <div class="box box_css">

                  <div class="c100 p12 small">
                    <span>12%</span>
                    <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                    </div>
                  </div>

                  <button ng-click="Page3()" class="btn  btn-blue fon_12">  Production preparation</button>

                </div>
              </div>
              <div class="col-sm-2">
                <div class="box box_css">


                  <div class="c100 p12 small">
                    <span>20%</span>
                    <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                    </div>
                  </div>

                  <button class="btn  btn-blue fon_12">
                    Regulation for
                    initial production control
                  </button>

                </div>
              </div>
              <div class="col-sm-2">
                <div class="box box_css">

                  <div class="c100 p12 small">
                    <span>30%</span>
                    <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                    </div>
                  </div>

                  <button class="btn  btn-blue fon_12"> Changing management</button>

                </div>
              </div>
              <div class="col-sm-2">
                <div class="box box_css">


                  <div class="c100 p12 small">
                    <span>20%</span>
                    <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                    </div>
                  </div>

                  <button class="btn  btn-blue fon_12">
                    Standards management
                  </button>

                </div>
              </div>


              <div class="col-sm-2">
                <div class="box box_css">


                  <div class="c100 p12 small">
                    <span>60%</span>
                    <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                    </div>
                  </div>

                  <button class="btn  btn-blue fon_12">
                    Education and training
                  </button>

                </div>
              </div>
              <div class="col-sm-2">
                <div class="box box_css">


                  <div class="c100 p12 small">
                    <span>60%</span>
                    <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                    </div>
                  </div>

                  <button class="btn  btn-blue fon_12">
                    Quality audit and process verification
                  </button>

                </div>
              </div>
            </div>


            <div class="row mb-2">
              <div class="col-sm-2">
                <div class="box box_css">

                  <div class="c100 p12 small">
                    <span>12%</span>
                    <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                    </div>
                  </div>

                  <button class="btn  btn-blue fon_12">  Production preparation</button>

                </div>
              </div>
              <div class="col-sm-2">
                <div class="box box_css">


                  <div class="c100 p12 small">
                    <span>20%</span>
                    <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                    </div>
                  </div>

                  <button class="btn  btn-blue fon_12">
                    Regulation for
                    initial production control
                  </button>

                </div>
              </div>
              <div class="col-sm-2">
                <div class="box box_css">

                  <div class="c100 p12 small">
                    <span>30%</span>
                    <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                    </div>
                  </div>

                  <button class="btn  btn-blue fon_12"> Changing management</button>

                </div>
              </div>
              <div class="col-sm-2">
                <div class="box box_css">


                  <div class="c100 p12 small">
                    <span>20%</span>
                    <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                    </div>
                  </div>

                  <button class="btn  btn-blue fon_12">
                    Standards management
                  </button>

                </div>
              </div>


              <div class="col-sm-2">
                <div class="box box_css">


                  <div class="c100 p12 small">
                    <span>60%</span>
                    <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                    </div>
                  </div>

                  <button class="btn  btn-blue fon_12">
                    Education and training
                  </button>

                </div>
              </div>
              <div class="col-sm-2">
                <div class="box box_css">


                  <div class="c100 p12 small">
                    <span>60%</span>
                    <div class="slice">
                      <div class="bar"></div>
                      <div class="fill"></div>
                    </div>
                  </div>

                  <button class="btn  btn-blue fon_12">
                    Quality audit and process verification
                  </button>

                </div>
              </div>
            </div>

            <!-- /.card-body -->
          </div>
          <div class="card-footer">
            <button  class="btn btn-primary">View Summary Details</button>
            <button  class="btn btn-success">Submit</button>

            <button ng-click="Back1()" class="btn btn-default">Back</button>
          </div>

        </div>
      </div>
        <!-- /.col -->
      </div>
    <div class="row" ng-show="Auditarea3==true">
      <div class="col-md-12">

        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Audit Area Details (Vendor 1)</h3>

          </div>


          <form>
            <div class="card-body">

              <div id="accordion">
                <div class="row">
                  <div class="col-sm-4">
                    <div class="d-flex flex_colum mt_17" id="myDIV">
                      <div id="headingOne" class="div_main_active">


                        <button class="btn btn-link mb-2 active" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                          Regarding implementation rule of production preparation
                        </button>


                      </div>
                      <div class="div_main_active" id="headingTwo">

                        <button class="btn btn-link collapsed mb-2" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                          Regarding management /implementation by production preparation plan/report (master plan)
                        </button>

                      </div>
                      <div id="headingThree" class="div_main_active">

                        <button class="btn btn-link collapsed mb-2" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                          Defect prevention on the stage of process design by using FMEA/Matrix diagram
                        </button>

                      </div>
                      <div id="heading4" class="div_main_active">

                        <button class="btn btn-link collapsed mb-2" data-toggle="collapse" data-target="#collapse4" aria-expanded="false" aria-controls="collapse4">
                          Defect prevention on the stage of process design by using FMEA/Matrix diagram
                        </button>

                      </div>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="mt-2 p-2">
                      <div class="collapse show" id="collapseOne" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="card">
                          <div class="card-header">
                            <h4 class="fon_14"><b>1.</b>Do you define in regulation following items for production preparation?-scope of parts,-responsibility of each department-control contents/items?</h4>
                          </div>

                          <div class="card-body">

                            <div class="row">
                              <div class="col-sm-12">

                                <div class="jugme_css">
                                  <label class="mb-0">Judgment</label>
                                  <div class="d-flex">
                                    <div class="mr-3">
                                      <input type="radio" id="html" name="fav_language" value="HTML" class="chek_box"><img src="dist/img/icons/triangle.png" class="diacisq_css">
                                    </div>

                                    <div class="mr-3">
                                      <input type="radio" id="javascript" name="fav_language" value="JavaScript" class="chek_box"><img src="dist/img/icons/square.png" class="diacisq_css">
                                    </div>
                                    <div class="mr-3">
                                      <input type="radio" id="css" name="fav_language" value="CSS" class="chek_box"><img src="dist/img/icons/new-moon.png" class="diacisq_css">
                                    </div>
                                  </div>
                                </div>

                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th scope="col">Remarks</th>
                                      <th scope="col">Upload File</th>
                                      <th>Action</th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">    <textarea class="form-control"></textarea></th>
                                      <td>
                                        <div class="input-group">
                                          <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="exampleInputFile">
                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                          </div>

                                        </div>
                                      </td>
                                      <td>
                                        <button class="btn btn-primary">+</button>
                                        <button class="btn btn-danger">-</button>

                                      </td>

                                    </tr>

                                  </tbody>
                                </table>
                              </div>
                            </div><!--row end-->
                          </div>
                          <div class="card-footer">
                            <button ng-click="SaveAsDraft()" class="btn btn-primary">Save as draft</button>
                            <button ng-click="AuditCreate()" class="btn btn-success">Submit</button>
                          </div>
                        </div>
                        <div class="card">
                          <div class="card-header">
                            <h4 class="fon_14"><b>2.</b>Do you define importance level during production preparation for each product and clarify control items based on it ? </h4>
                          </div>

                          <div class="card-body">

                            <div class="row">
                              <div class="col-sm-12">

                                <div class="jugme_css">
                                  <label class="mb-0">Judgment</label>
                                  <div class="d-flex">
                                    <div class="mr-3">
                                      <input type="radio" id="html" name="fav_language" value="HTML" class="chek_box"><img src="dist/img/icons/triangle.png" class="diacisq_css">
                                    </div>

                                    <div class="mr-3">
                                      <input type="radio" id="javascript" name="fav_language" value="JavaScript" class="chek_box"><img src="dist/img/icons/square.png" class="diacisq_css">
                                    </div>
                                    <div class="mr-3">
                                      <input type="radio" id="css" name="fav_language" value="CSS" class="chek_box"><img src="dist/img/icons/new-moon.png" class="diacisq_css">
                                    </div>
                                  </div>
                                </div>

                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th scope="col">Remarks</th>
                                      <th scope="col">Upload File</th>
                                      <th>Action</th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">    <textarea class="form-control"></textarea></th>
                                      <td>
                                        <div class="input-group">
                                          <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="exampleInputFile">
                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                          </div>

                                        </div>
                                      </td>
                                      <td>
                                        <button class="btn btn-primary">+</button>
                                        <button class="btn btn-danger">-</button>

                                      </td>

                                    </tr>

                                  </tbody>
                                </table>
                              </div>
                            </div><!--row end-->
                          </div>
                          <div class="card-footer">
                            <button ng-click="AddData()" class="btn btn-primary">Save as draft</button>
                            <button ng-click="init()" class="btn btn-success">Submit</button>
                          </div>
                        </div>

                      </div>
                      <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo" data-parent="#accordion">
                        <div class="card">
                          <div class="card-header">
                            <h4 class="fon_14"><b>1.</b>Do you implement follow-up to control the schedule and progress of production preparation items?</h4>
                          </div>

                          <div class="card-body">

                            <div class="row">
                              <div class="col-sm-12">

                                <div class="jugme_css">
                                  <label class="mb-0">Judgment</label>
                                  <div class="d-flex">
                                    <div class="mr-3">
                                      <input type="radio" id="html" name="fav_language" value="HTML" class="chek_box"><img src="dist/img/icons/triangle.png" class="diacisq_css">
                                    </div>

                                    <div class="mr-3">
                                      <input type="radio" id="javascript" name="fav_language" value="JavaScript" class="chek_box"><img src="dist/img/icons/square.png" class="diacisq_css">
                                    </div>
                                    <div class="mr-3">
                                      <input type="radio" id="css" name="fav_language" value="CSS" class="chek_box"><img src="dist/img/icons/new-moon.png" class="diacisq_css">
                                    </div>
                                  </div>
                                </div>

                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th scope="col">Remarks</th>
                                      <th scope="col">Upload File</th>
                                      <th>Action</th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">    <textarea class="form-control"></textarea></th>
                                      <td>
                                        <div class="input-group">
                                          <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="exampleInputFile">
                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                          </div>

                                        </div>
                                      </td>
                                      <td>
                                        <button class="btn btn-primary">+</button>
                                        <button class="btn btn-danger">-</button>

                                      </td>

                                    </tr>

                                  </tbody>
                                </table>
                              </div>
                            </div><!--row end-->
                          </div>
                          <div class="card-footer">
                            <button ng-click="AddData()" class="btn btn-primary">Save as draft</button>
                            <button ng-click="init()" class="btn btn-success">Submit</button>
                          </div>
                        </div>
                      </div>
                      <div class="collapse" id="collapseThree" aria-labelledby="headingThree" data-parent="#accordion">
                        <div class="card">
                          <div class="card-header">
                            <h4 class="fon_14">
                              <b>1.</b>Do you consider following items and reflect them to the processes and standards beforehand?<br>
                              -Troubles in the past; -Defect items expected;<br>
                              -Defect items unable to capture at customer;<br>
                              -Defect items difficult to repair;
                            </h4>
                          </div>

                          <div class="card-body">

                            <div class="row">
                              <div class="col-sm-12">

                                <div class="jugme_css">
                                  <label class="mb-0">Judgment</label>
                                  <div class="d-flex">
                                    <div class="mr-3">
                                      <input type="radio" id="html" name="fav_language" value="HTML" class="chek_box"><img src="dist/img/icons/triangle.png" class="diacisq_css">
                                    </div>

                                    <div class="mr-3">
                                      <input type="radio" id="javascript" name="fav_language" value="JavaScript" class="chek_box"><img src="dist/img/icons/square.png" class="diacisq_css">
                                    </div>
                                    <div class="mr-3">
                                      <input type="radio" id="css" name="fav_language" value="CSS" class="chek_box"><img src="dist/img/icons/new-moon.png" class="diacisq_css">
                                    </div>
                                  </div>
                                </div>

                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th scope="col">Remarks</th>
                                      <th scope="col">Upload File</th>
                                      <th>Action</th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">    <textarea class="form-control"></textarea></th>
                                      <td>
                                        <div class="input-group">
                                          <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="exampleInputFile">
                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                          </div>

                                        </div>
                                      </td>
                                      <td>
                                        <button class="btn btn-primary">+</button>
                                        <button class="btn btn-danger">-</button>

                                      </td>

                                    </tr>

                                  </tbody>
                                </table>
                              </div>
                            </div><!--row end-->
                          </div>
                          <div class="card-footer">
                            <button ng-click="AddData()" class="btn btn-primary">Save as draft</button>
                            <button ng-click="init()" class="btn btn-success">Submit</button>
                          </div>
                        </div>
                      </div>
                      <div class="collapse" id="collapse4" aria-labelledby="heading4" data-parent="#accordion">
                        <div class="card">
                          <div class="card-header">
                            <h4 class="fon_14">
                              <b>1.</b>Do you prevent defects by quality improving activities of cross-function team to evaluate quality performance?
                            </h4>
                          </div>

                          <div class="card-body">

                            <div class="row">
                              <div class="col-sm-12">

                                <div class="jugme_css">
                                  <label class="mb-0">Judgment</label>
                                  <div class="d-flex">
                                    <div class="mr-3">
                                      <input type="radio" id="html" name="fav_language" value="HTML" class="chek_box"><img src="dist/img/icons/triangle.png" class="diacisq_css">
                                    </div>

                                    <div class="mr-3">
                                      <input type="radio" id="javascript" name="fav_language" value="JavaScript" class="chek_box"><img src="dist/img/icons/square.png" class="diacisq_css">
                                    </div>
                                    <div class="mr-3">
                                      <input type="radio" id="css" name="fav_language" value="CSS" class="chek_box"><img src="dist/img/icons/new-moon.png" class="diacisq_css">
                                    </div>
                                  </div>
                                </div>

                                <table class="table table-bordered">
                                  <thead>
                                    <tr>
                                      <th scope="col">Remarks</th>
                                      <th scope="col">Upload File</th>
                                      <th>Action</th>

                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">    <textarea class="form-control"></textarea></th>
                                      <td>
                                        <div class="input-group">
                                          <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="exampleInputFile">
                                            <label class="custom-file-label" for="exampleInputFile">Choose file</label>
                                          </div>

                                        </div>
                                      </td>
                                      <td>
                                        <button class="btn btn-primary">+</button>
                                        <button class="btn btn-danger">-</button>

                                      </td>

                                    </tr>

                                  </tbody>
                                </table>
                              </div>
                            </div><!--row end-->
                          </div>
                          <div class="card-footer">
                            <button ng-click="AddData()" class="btn btn-primary">Save as draft</button>
                            <button ng-click="init()" class="btn btn-success">Submit</button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>



              </div>
            </div>
            <div class="card-footer">
              <button ng-click="Back2()" class="btn btn-default">Back</button>
            </div>

          </form>
        </div>


      </div>
    </div>



  </div>
</section>

