.active-tab {
    background-color: #1a65a3 !important;
    color: white !important;
  }
  .disactive-tab {
    background-color: #666 !important;
    color: white !important;
  }
  .btn-link {
    border: none !important;
    outline: none !important;
    padding: 10px 16px !important;
    background-color: #f1f1f1;
    text-align: left !important;
    cursor: pointer !important;
    font-size: 13px !important;
    width: 100% !important;
  }
  .image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 22px;
    cursor: pointer;
}
.btn-add-deatil{
  width: 14px;
    height: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
}
.input-css-check{
  width: 18px;
    height: 18px;
    position: relative;
    top: 7px;
    
}
.mange-que-detail-button{
  width: 105px;
    font-size: 12px !important;
}