<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card card-default">
                    <div class="card-header">
                        <h3 class="card-title">Audit Area Details (Vendor 1)</h3>
                    </div>
                    <form>
                        <div class="card-body">
                            <div id="accordion">
                                <div class="row">
                                    <div class="col-sm-4">
                                        <div class="d-flex flex_colum mt_17" id="myDIV">
                                            <div id="headingOne" class="div_main_active">
                                                <button class="btn btn-link mb-2 active" data-toggle="collapse"
                                                    data-target="#collapseOne" aria-expanded="true"
                                                    aria-controls="collapseOne">
                                                    Regarding implementation rule of production preparation
                                                </button>
                                            </div>
                                            <div class="div_main_active" id="headingTwo">
                                                <button class="btn btn-link collapsed mb-2" data-toggle="collapse"
                                                    data-target="#collapseTwo" aria-expanded="false"
                                                    aria-controls="collapseTwo">
                                                    Regarding management /implementation by production preparation
                                                    plan/report (master plan)
                                                </button>
                                            </div>
                                            <div id="headingThree" class="div_main_active">
                                                <button class="btn btn-link collapsed mb-2" data-toggle="collapse"
                                                    data-target="#collapseThree" aria-expanded="false"
                                                    aria-controls="collapseThree">
                                                    Defect prevention on the stage of process design by using
                                                    FMEA/Matrix diagram
                                                </button>
                                            </div>
                                            <div id="heading4" class="div_main_active">
                                                <button class="btn btn-link collapsed mb-2" data-toggle="collapse"
                                                    data-target="#collapse4" aria-expanded="false"
                                                    aria-controls="collapse4">
                                                    Defect prevention on the stage of process design by using
                                                    FMEA/Matrix diagram
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-sm-8">
                                        <div class="mt-2 p-2">
                                            <div class="collapse show" id="collapseOne" aria-labelledby="headingOne"
                                                data-parent="#accordion">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="fon_14"><b>1.</b>Do you define in regulation
                                                            following items for production preparation?-scope of
                                                            parts,-responsibility of each department-control
                                                            contents/items?</h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="jugme_css">
                                                                    <label class="mb-0">Judgment</label>
                                                                    <div class="d-flex">
                                                                        <div class="mr-3">
                                                                            <input type="radio" id="html"
                                                                                name="fav_language" value="HTML"
                                                                                class="chek_box"><img
                                                                                src="../../../../assets/icons/triangle.png"
                                                                                class="diacisq_css">
                                                                        </div>
                                                                        <div class="mr-3">
                                                                            <input type="radio" id="javascript"
                                                                                name="fav_language" value="JavaScript"
                                                                                class="chek_box"><img
                                                                                src="../../../../assets/icons/square.png"
                                                                                class="diacisq_css">
                                                                        </div>
                                                                        <div class="mr-3">
                                                                            <input type="radio" id="css"
                                                                                name="fav_language" value="CSS"
                                                                                class="chek_box"><img
                                                                                src="../../../../assets/icons/new-moon.png"
                                                                                class="diacisq_css">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <table class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">Remarks</th>
                                                                            <th scope="col">Upload File</th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <th scope="row"> <textarea
                                                                                    class="form-control"></textarea>
                                                                            </th>
                                                                            <td>
                                                                                <div class="input-group">
                                                                                    <div class="custom-file">
                                                                                        <input type="file"
                                                                                            class="custom-file-input"
                                                                                            id="exampleInputFile">
                                                                                        <label class="custom-file-label"
                                                                                            for="exampleInputFile">Choose
                                                                                            file</label>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <button
                                                                                    class="btn btn-primary">+</button>
                                                                                <button
                                                                                    class="btn btn-danger">-</button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <button (click)="saveAsDraft()" class="btn btn-primary">Save as
                                                            draft</button>
                                                        <button (click)="auditCreate()"
                                                            class="btn btn-success">Submit</button>
                                                    </div>
                                                </div>
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="fon_14"><b>2.</b>Do you define importance level
                                                            during production preparation for each product and clarify
                                                            control items based on it ? </h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="jugme_css">
                                                                    <label class="mb-0">Judgment</label>
                                                                    <div class="d-flex">
                                                                        <div class="mr-3">
                                                                            <input type="radio" id="html"
                                                                                name="fav_language" value="HTML"
                                                                                class="chek_box"><img
                                                                                src="../../../../assets/icons/triangle.png"
                                                                                class="diacisq_css">
                                                                        </div>
                                                                        <div class="mr-3">
                                                                            <input type="radio" id="javascript"
                                                                                name="fav_language" value="JavaScript"
                                                                                class="chek_box"><img
                                                                                src="../../../../assets/icons/square.png"
                                                                                class="diacisq_css">
                                                                        </div>
                                                                        <div class="mr-3">
                                                                            <input type="radio" id="css"
                                                                                name="fav_language" value="CSS"
                                                                                class="chek_box"><img
                                                                                src="../../../../assets/icons/new-moon.png"
                                                                                class="diacisq_css">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <table class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">Remarks</th>
                                                                            <th scope="col">Upload File</th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <th scope="row"> <textarea
                                                                                    class="form-control"></textarea>
                                                                            </th>
                                                                            <td>
                                                                                <div class="input-group">
                                                                                    <div class="custom-file">
                                                                                        <input type="file"
                                                                                            class="custom-file-input"
                                                                                            id="exampleInputFile">
                                                                                        <label class="custom-file-label"
                                                                                            for="exampleInputFile">Choose
                                                                                            file</label>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <button
                                                                                    class="btn btn-primary">+</button>
                                                                                <button
                                                                                    class="btn btn-danger">-</button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <button (click)="addData()" class="btn btn-primary">Save as
                                                            draft</button>
                                                        <button (click)="init()"
                                                            class="btn btn-success">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="collapse" id="collapseTwo" aria-labelledby="headingTwo"
                                                data-parent="#accordion">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="fon_14"><b>1.</b>Do you implement follow-up to
                                                            control the schedule and progress of production preparation
                                                            items?</h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="jugme_css">
                                                                    <label class="mb-0">Judgment</label>
                                                                    <div class="d-flex">
                                                                        <div class="mr-3">
                                                                            <input type="radio" id="html"
                                                                                name="fav_language" value="HTML"
                                                                                class="chek_box"><img
                                                                                src="../../../../assets/icons/triangle.png"
                                                                                class="diacisq_css">
                                                                        </div>
                                                                        <div class="mr-3">
                                                                            <input type="radio" id="javascript"
                                                                                name="fav_language" value="JavaScript"
                                                                                class="chek_box"><img
                                                                                src="../../../../assets/icons/square.png"
                                                                                class="diacisq_css">
                                                                        </div>
                                                                        <div class="mr-3">
                                                                            <input type="radio" id="css"
                                                                                name="fav_language" value="CSS"
                                                                                class="chek_box"><img
                                                                                src="../../../../assets/icons/new-moon.png"
                                                                                class="diacisq_css">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <table class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">Remarks</th>
                                                                            <th scope="col">Upload File</th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <th scope="row"> <textarea
                                                                                    class="form-control"></textarea>
                                                                            </th>
                                                                            <td>
                                                                                <div class="input-group">
                                                                                    <div class="custom-file">
                                                                                        <input type="file"
                                                                                            class="custom-file-input"
                                                                                            id="exampleInputFile">
                                                                                        <label class="custom-file-label"
                                                                                            for="exampleInputFile">Choose
                                                                                            file</label>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <button
                                                                                    class="btn btn-primary">+</button>
                                                                                <button
                                                                                    class="btn btn-danger">-</button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <button (click)="addData()" class="btn btn-primary">Save as
                                                            draft</button>
                                                        <button (click)="init()"
                                                            class="btn btn-success">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="collapse" id="collapseThree" aria-labelledby="headingThree"
                                                data-parent="#accordion">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="fon_14">
                                                            <b>1.</b>Do you consider following items and reflect them to
                                                            the processes and standards beforehand?<br>
                                                            -Troubles in the past; -Defect items expected;<br>
                                                            -Defect items unable to capture at customer;<br>
                                                            -Defect items difficult to repair;
                                                        </h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="jugme_css">
                                                                    <label class="mb-0">Judgment</label>
                                                                    <div class="d-flex">
                                                                        <div class="mr-3">
                                                                            <input type="radio" id="html"
                                                                                name="fav_language" value="HTML"
                                                                                class="chek_box"><img
                                                                                src="../../../../assets/icons/triangle.png"
                                                                                class="diacisq_css">
                                                                        </div>
                                                                        <div class="mr-3">
                                                                            <input type="radio" id="javascript"
                                                                                name="fav_language" value="JavaScript"
                                                                                class="chek_box"><img
                                                                                src="../../../../assets/icons/square.png"
                                                                                class="diacisq_css">
                                                                        </div>
                                                                        <div class="mr-3">
                                                                            <input type="radio" id="css"
                                                                                name="fav_language" value="CSS"
                                                                                class="chek_box"><img
                                                                                src="../../../../assets/icons/new-moon.png"
                                                                                class="diacisq_css">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <table class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">Remarks</th>
                                                                            <th scope="col">Upload File</th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <th scope="row"> <textarea
                                                                                    class="form-control"></textarea>
                                                                            </th>
                                                                            <td>
                                                                                <div class="input-group">
                                                                                    <div class="custom-file">
                                                                                        <input type="file"
                                                                                            class="custom-file-input"
                                                                                            id="exampleInputFile">
                                                                                        <label class="custom-file-label"
                                                                                            for="exampleInputFile">Choose
                                                                                            file</label>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <button
                                                                                    class="btn btn-primary">+</button>
                                                                                <button
                                                                                    class="btn btn-danger">-</button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <button (click)="addData()" class="btn btn-primary">Save as
                                                            draft</button>
                                                        <button (click)="init()"
                                                            class="btn btn-success">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="collapse" id="collapse4" aria-labelledby="heading4"
                                                data-parent="#accordion">
                                                <div class="card">
                                                    <div class="card-header">
                                                        <h4 class="fon_14">
                                                            <b>1.</b>Do you prevent defects by quality improving
                                                            activities of cross-function team to evaluate quality
                                                            performance?
                                                        </h4>
                                                    </div>
                                                    <div class="card-body">
                                                        <div class="row">
                                                            <div class="col-sm-12">
                                                                <div class="jugme_css">
                                                                    <label class="mb-0">Judgment</label>
                                                                    <div class="d-flex">
                                                                        <div class="mr-3">
                                                                            <input type="radio" id="html"
                                                                                name="fav_language" value="HTML"
                                                                                class="chek_box"><img
                                                                                src="../../../../assets/icons/triangle.png"
                                                                                class="diacisq_css">
                                                                        </div>
                                                                        <div class="mr-3">
                                                                            <input type="radio" id="javascript"
                                                                                name="fav_language" value="JavaScript"
                                                                                class="chek_box"><img
                                                                                src="../../../../assets/icons/square.png"
                                                                                class="diacisq_css">
                                                                        </div>
                                                                        <div class="mr-3">
                                                                            <input type="radio" id="css"
                                                                                name="fav_language" value="CSS"
                                                                                class="chek_box"><img
                                                                                src="../../../../assets/icons/new-moon.png"
                                                                                class="diacisq_css">
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <table class="table table-bordered">
                                                                    <thead>
                                                                        <tr>
                                                                            <th scope="col">Remarks</th>
                                                                            <th scope="col">Upload File</th>
                                                                            <th>Action</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <tr>
                                                                            <th scope="row"> <textarea
                                                                                    class="form-control"></textarea>
                                                                            </th>
                                                                            <td>
                                                                                <div class="input-group">
                                                                                    <div class="custom-file">
                                                                                        <input type="file"
                                                                                            class="custom-file-input"
                                                                                            id="exampleInputFile">
                                                                                        <label class="custom-file-label"
                                                                                            for="exampleInputFile">Choose
                                                                                            file</label>
                                                                                    </div>
                                                                                </div>
                                                                            </td>
                                                                            <td>
                                                                                <button
                                                                                    class="btn btn-primary">+</button>
                                                                                <button
                                                                                    class="btn btn-danger">-</button>
                                                                            </td>
                                                                        </tr>
                                                                    </tbody>
                                                                </table>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="card-footer">
                                                        <button (click)="addData()" class="btn btn-primary">Save as
                                                            draft</button>
                                                        <button (click)="init()"
                                                            class="btn btn-success">Submit</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button (click)="back()" class="btn btn-default">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>