<section class="content pt-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Audit Area Details ( {{vendorName}} )

            </h3>
         </div>
          <form [formGroup]="questionForm" enctype="multipart/form-data">
            <div class="card-body">
              <div id="accordion">
                <div class="row">
                  <div class="col-sm-4" >
                    <div class="d-flex flex_colum mt_17" id="myDIV" *ngFor="let item of auditAreaList">
                      <div id="headingOne" class="div_main_active">
                        <button class="btn btn-link mb-2 active" (click)="getRegulation(item.id)"
                          aria-expanded="true" aria-controls="collapseOne">
                          {{item.name}}
                        </button>
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="mt-2 p-2">
                      <div class="collapse show" formArrayName="metadata">
                          <ng-container *ngFor="let obj of metadataArray.controls; let i = index">
                        <div class="card" *ngIf="regulationList[i] != null">
                          <div class="card-header">
                              <h4 class="fon_14"><b>{{i+1}}.</b>
                                {{regulationList[i]?.name}}
                            </h4>
                          </div>
                          <div class="card-body">
                            <div class="row" [formGroupName]="i">
                              <div class="col-sm-12" >
                                <div class="jugme_css">
                                  <label class="mb-0">Judgement</label>
                                  <div class="d-flex">
                                    <div class="mr-3">
                                      <input type="radio" (click)="judgeValue($event.target,i)" formControlName="JudgementId"      
                                      [value]= "triangle"
                                        class="chek_box"><img src="../../../../assets/icons/triangle.png"
                                        class="diacisq_css">
                                    </div>
                                    <div class="mr-3">
                                      <input type="radio"  formControlName="JudgementId" (click)="judgeValue($event,i)"  [value]="pie"
                                        class="chek_box"><img src="../../../../assets/icons/square.png"
                                        class="diacisq_css">
                                    </div>
                                    <div class="mr-3">
                                      <input type="radio" formControlName="JudgementId" (click)="judgeValue($event,i)"  [value]="cross" class="chek_box"><img
                                        src="../../../../assets/icons/new-moon.png" class="diacisq_css">
                                    </div>
                                  </div>
                                </div>
                                <div class="table-responsive max_hei_table">
                                  <table class="table table-bordered" formArrayName="ObservationList">
                                    <thead>
                                      <tr>
                                        <th scope="col">Remarks</th>
                                        <th class="w_15">Action</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr *ngFor="let item of obsArray(i).controls; let j = index;">
                                        <th scope="row" [formGroupName]="j"> <textarea formControlName="remark" class="form-control"></textarea></th>
                                        <td [formGroupName]="j" >
                                          <div class="d-flex">
                                            <div class="image-upload mr-1">
                                              <label for="file-input">
                                                <img src="../../../../assets/icons/up-arrow.png" data-toggle="tooltip"
                                                  data-placement="top" title="Uplaod File" class="upload_file_css">
                                              </label>
                                              <input id="file-input" type="file" formControlName="file" (input)="fileInput($event,i,j)"/>
                                            </div>
                                            <button class="btn btn-primary mr-1"  (click)="addJudge(i,'')">+</button>
                                            <button class="btn btn-danger" *ngIf="j > 0" (click)="removeJudge(i,j)">-</button>
                                          </div>
                                        </td>
                                      </tr>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="card-footer">
                            <button type="button" (click)="submit(i,regulationList[i].id)" class="btn btn-success">Submit</button>
                          </div>
                        </div>
                      </ng-container>
                        </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <button (click)="back()" class="btn btn-default">Back</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>