.active, .btn-link:hover {
    background-color: #666 !important;
    color: white !important;
  }
  .btn-link {
    border: none !important;
    outline: none !important;
    padding: 10px 16px !important;
    background-color: #f1f1f1;
    text-align: left !important;
    cursor: pointer !important;
    font-size: 13px !important;
    width: 100% !important;
  }
  .image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 22px;
    cursor: pointer;
}