<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="header_card">
                <h3 class="card-title">Employee Master</h3>
                <div class="form-group filter_course">
                  <input type="text " name="search " autocomplete="off" [(ngModel)]="searchText"
                      placeholder="Type to Search" style="width: 87%; height: calc(1.25rem + 14px); margin-left: 13%;" 
                      class="form-control ng-untouched ng-pristine ng-valid form_width"
                      ng-reflect-name="search" />
              </div>
                <a *ngIf="isSuperAdmin" (click)="addEmployee()" class="btn btn-primary"> 
                    <img src="../../../../../assets/icons/group.png" class="side_imgmaster mr-1">Add Employee</a>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive max_hei_table">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                    <tr class="sticky_header">
                      <th>S.No</th>
                      <th>Employee Name </th>
                      <th>Employee Code</th>
                      <th>Employee Role</th>
                      <th>Employee Creation Date</th>
                      <th *ngIf="isSuperAdmin">Action</th>
                    </tr>
                  </thead>
                  <tr *ngFor="let item of employeeObj | filter:searchText | paginate: { itemsPerPage: pagination.pageSize, currentPage: pagination.pageNumber } ;let i =index">
                    <td>{{(i+1) + pagination.pageSize * ( pagination.pageNumber-1 ) }}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.code}}</td>
                    <td>{{item.roleName}}</td>
                    <td>12-2-2022</td>
                    <td *ngIf="isSuperAdmin">
                      <div class="d-flex">
                        <a  (click)="editEmployee(item)"><img src="../../../../../assets/icons/document-editor.png" class="w_25"></a>
                        <a (click)="delete(item.id)"><img src="../../../../../assets/icons/delete.png" class="w_25"></a>
                      </div>
                    </td>
                  </tr>
                  <tbody>
                  </tbody>
                </table>
              </div>
              <nav aria-label="Page navigation example">
                <div class="pagination justift_end">
                  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
