<section class="content pt-2">
  <div class="container-fluid">

    <div class="row" ng-show="EmpMaster==true">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="header_card">
              <h3 class="card-title">Employee Master</h3>
              <a href="" ng-click="AddEmployee()" class="btn btn-blue"> <img src="dist/img/icons/group.png" class="side_imgmaster mr-1">Add Employee</a>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>

                  <th>Employee Name </th>
                  <th>Employee Code</th>
                  <th>Employee Role</th>
                  <th>Employee Creation Date</th>
                  <th>Action</th>


                </tr>
              </thead>
              <tr>
                <td>Arvind</td>
                <td>12345</td>
                <td>Manager</td>
                <td>12-2-2022</td>

                <td>
                  <a ng-click="AddEmployee()"><img src="dist/img/icons/document-editor.png" class="w_25"></a>
                  <a><img src="dist/img/icons/delete.png" class="w_25"></a>
                </td>
              </tr>
              <tbody>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <div class="row" ng-show="EmpMasterDetail==true">
      <div class="col-md-12">

        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Vendor Details</h3>
          </div>


          <form>
            <div class="card-body">

              <div class="row">
                <div class="col-sm-4">


                  <div class="form-group">
                    <label class="form_label">Employee Name</label>
                    <input type="text" class="form-control inputbox_css" ng-model="influencerObj.FirstName"
                           placeholder="Enter Employee Name" maxlength="200">
                  </div>

                </div>
                <div class="col-sm-4">


                  <div class="form-group">
                    <label class="form_label">Employee Code</label>
                    <input type="text" class="form-control inputbox_css" ng-model="influencerObj.FirstName"
                           placeholder="Enter Employee Code" maxlength="200">
                  </div>

                </div>
                <div class="col-sm-4">


                  <div class="form-group">
                    <label class="form_label">Employee Role</label>
                    <select class="form-control">
                      <option>Select</option>
                      <option>Employee 1</option>
                      <option>Employee  2</option>

                    </select>
                  </div>

                </div>
                <!--<div class="col-sm-4">


                  <div class="form-group">
                    <label class="form_label">Employee Creation Date</label>
                    <input type="date" class="form-control inputbox_css">
                  </div>

                </div>-->



              </div>


            </div>

            <div class="card-footer">
              <button ng-click="AddData()" class="btn btn-primary">Save</button>
              <button ng-click="init()" class="btn btn-default">Close</button>
            </div>
          </form>
        </div>


      </div>
    </div>



  </div>
</section>
