<section class="content">
    <div class="container-fluid">
      <div class="d-flex justify-content-center mb-2 flex_direction_media">
        <a href="" class="child_counter gradien_plan">
          <div class="">
            <div class="d-flex justify-content-between align-items-center">
              <img src="../../../../assets/icons/counter/shield.png" class="counter_img">
              <p class="color_white mb-0 fon_13">Total Plan</p>
            </div>
            <div>
              <p class="counter_digit">8</p>
              <a href=""></a>
            </div>
          </div>
        </a>
        <a href="" class="child_counter gradien_approve">
          <div class="">
            <div class="d-flex justify-content-between align-items-center">
              <img src="../../../../assets/icons/counter/approve.png" class="counter_img">
              <p class="color_white mb-0 fon_13">Approve Task</p>
            </div>
            <div>
              <p class="counter_digit">6</p>
              <a href=""></a>
            </div>
          </div>
        </a>
        <a href="" class="child_counter gradien_pending">
          <div class="">
            <div class="d-flex justify-content-between align-items-center">
              <img src="../../../../assets/icons/counter/pending.png" class="counter_img">
              <p class="color_white mb-0 fon_13">Pending Plan</p>
            </div>
            <div>
              <p class="counter_digit">6</p>
              <a href=""></a>
            </div>
          </div>
        </a>
        <a href="" class="child_counter gradien_auditor_assign">
          <div class="">
            <div class="d-flex justify-content-between align-items-center">
              <img src="../../../../assets/icons/counter/auditor.png" class="counter_img">
              <p class="color_white mb-0 fon_13">Auditor Assign</p>
            </div>
            <div>
              <p class="counter_digit">6</p>
              <a href=""></a>
            </div>
          </div>
        </a>
      </div>
      <div class="row">
        <div class="col-12">
          <div class="card" ng-show="myVar==true">
            <div class="card-header">
              <div class="header_card">
                <h3 class="card-title">View Plan Details</h3>
                <div class="d-flex">
                  <input type="text" class="form-control mr-1" placeholder="search ...">
               <!--    <button class="btn btn-success d-flex  align-items-center">
                    <i class="fas fa-upload mr-1 upload_ico"></i>
                    <span class="now_rap">Upload Plan</span>
                  </button> -->
                </div>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive max_hei_table">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                    <tr class="now_rap text-center sticky_header">
                      <th>Audit No</th>
                      <th>Vendor Code </th>
                      <th>Vendor Name</th>
                      <th>Location</th>
                      <th>Any Other Location</th>
                      <th>Planned Start Date </th>
                      <th>Planned End Date</th>
                      <th>Status </th>
                      <th>Action </th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr class="tbody_data">
                      <td>AU1</td>
                      <td>VN123</td>
                      <td>Vendor</td>
                      <td>Location</td>
                      <td>Any Location</td>
                      <td>12-2-2022</td>
                      <td>12-4-2022</td>
                      <td><p class="pend_coloe  backgr_blue">Pending </p></td>
                      <td>
                        <a (click)="viewPlan()"><img src="../../../../assets/icon/view.png" class="viwe_iamge"></a>
                      </td>
                    </tr>
                    <tr class="tbody_data">
                      <td>AU1</td>
                      <td>VN123</td>
                      <td>Vendor</td>
                      <td>Location</td>
                      <td>Any Location</td>
                      <td>12-2-2022</td>
                      <td>12-4-2022</td>
                      <td><p class="pend_coloe  backgr_green">Approve </p></td>
                      <td>
                        <a (click)="viewPlan()"><img src="../../../../assets/icon/view.png" class="viwe_iamge"></a>
                        <a *ngIf="isSuperAdmin" (click)="assign()" data-toggle="tooltip" data-placement="top" title="Add Auditor"><img src="../../../../assets/icons/audit.png" class="viwe_iamge"></a>
                      </td>
                    </tr>
                    <tr class="tbody_data">
                      <td>AU1</td>
                      <td>VN123</td>
                      <td>Vendor</td>
                      <td>Location</td>
                      <td>Any Location</td>
                      <td>12-2-2022</td>
                      <td>12-4-2022</td>
                      <td><p class="pend_coloe  backgr_yellow">Auditor Assigend </p></td>
                      <td>
                        <a (click)="viewPlan()"><img src="../../../../assets/icon/view.png" class="viwe_iamge"></a>
                        <a *ngIf="isSuperAdmin" (click)="assign()" data-toggle="tooltip" data-placement="top" title="Add Auditor"><img src="../../../../assets/icons/audit.png" class="viwe_iamge"></a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <nav aria-label="Page navigation example">
                <ul class="pagination justift_end">
                  <li class="page-item">
                    <a class="page-link"  aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" >1</a></li>
                  <li class="page-item"><a class="page-link" >2</a></li>
                  <li class="page-item"><a class="page-link" >3</a></li>
                  <li class="page-item">
                    <a class="page-link"  aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
