
body, html {
    height: 100%  !important;
  }
   .backr_img {
    background-image: url('../../../assets/img/login_mage.png');
  height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  } 
  .main_login {
    width: 30%;
    background: #ffffff24;
    padding: 47px;
    margin: auto;
    border-radius: 21px;
    box-shadow: #ffffff24 0px 8px 24px;
  }
  .logo_img {
    
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .logo_img img {
    width: 140px;
  
  }
  .main {
    height: 100vh;
    display: flex;
    justify-content: space-around;
  }

  .backr_img_parent {
    height: 100%;
    width: 100%;
  }
  .input_data{
    width:100%;
  }
  .forge_pass {
    text-decoration: none;
    color: #1A65A3;
    font-size: 19px;
  }
  .btn-blue {
    background: #1A65A3;
    color: #fff;
    font-size: 20px;
    width: 100%;
    margin-top: 13px;
    height: 43px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .btn_div {
    width: 100%;
    margin: auto;
  }
  label {
    color: #ffff;
    font-size: 13px;
  }
  .inputbox_css {
    height: 44px !important;
    background: #fff;
  }
  .inner-form-new {
    padding: 60px 53px;
    color: #000;
  }
  .primary-title {
    margin-bottom: 20px;
    font-size: 25px;
    text-align: center;
  }
  .text_black{
    color:#000;
  }
  .w_300{
    width:300px;
  }
  .header_fixed {
    padding-bottom: 25px;
   
  }
  .hei_100{
      height:100%;
  } 
.box{

    padding: 49px 66px;
    border-radius: 12px;
    margin: 100px auto;
    width: 500px;
    background-color: #fff;
    box-shadow: rgb(50 50 93 / 25%) 0px 6px 12px -2px, rgb(0 0 0 / 30%) 0px 3px 7px -3px;
}
.w_300{
    width: 300px;
}


  html{
    background-color: red !important;
  }