<app-sidebar  class="sidebar-dark-primary d-none"></app-sidebar>
<div class="main">
    <div class="container-fluid">
        <div class="row hei_100">
            <div class=" backr_img">
                <div class="box">
                    <div class="text-center">
                        <img src="../../assets/img/maruti-logo.png" class="w_300" />
                        <h4 class="primary-title mb-4 mt-4">Forgot Password</h4>
                    </div>
                    <form [formGroup]="setPasswordForm">
                        <div class="input_data">
                            <div class="form-group">
                                <label for="exampleInputEmail1" class="text_black">Email</label>
                                <input type="text" class="form-control inputbox_css" formControlName="email"
                                    placeholder="Enter email">
                            </div>
                        </div>
                        <div class="btn_div">
                            <button type="submit" (click)="submit()" class="btn btn-blue">Submit</button>
                            <button type="button" routerLink="/login" class="btn btn-blue">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>