<div class="main">
    <div class="container-fluid">
    <div class="row hei_100">
    <div class=" backr_img">
   
<div class="box">
    <div class="text-center">
    <img src="../../assets/img/maruti-logo.png" class="w_300" /> 
    <h4 class="primary-title mb-4 mt-4">Change Password</h4>
    </div>
    <form>
    <div class="input_data">
      <div class="form-group">
        <label for="exampleInputEmail1" class="text_black">User Name</label>
        <input type="Text" class="form-control inputbox_css" placeholder="Enter User Name"
       >
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1" class="text_black">Password</label>
        <input type="password" class="form-control inputbox_css"  placeholder="********"
       >
      </div>
    </div><!--inpiu-->
    <div class="btn_div">

      <button type="submit"  class="btn btn-blue">Change password</button>
      <button type="button" routerLink="/login"  class="btn btn-blue">Login</button>
    </div>
    
   </form>
  </div><!--title-->
  </div>
  </div>
  </div>
  </div>
