<section class="content pt-2">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="header_card">
                <h3 class="card-title">Check Points Master</h3>
                <a *ngIf="isSuperAdmin" (click)="addRegulation()" class="btn btn-primary"> <img src="../../../../../assets/icons/gdpr.png" class="side_imgmaster mr-1">Add Check Point</a>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive max_hei_table">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                    <tr class="sticky_header">
                      <th>S.No</th>
                      <th>Check Point Name </th>
                      <th>Clause</th>
                      <th>Audit Area</th>
                      <th>Creation Date</th>
                      <th *ngIf="isSuperAdmin">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of regulationObj| paginate: { itemsPerPage: pagination.pageSize, currentPage: pagination.pageNumber } ;let i =index">
                      <td>{{(i+1) + pagination.pageSize * ( pagination.pageNumber-1 ) }}</td>
                      <td>{{item.name}}</td>
                      <td>{{item.categoryName}}</td>
                      <td>{{item.auditAreaName}}</td>
                      <td>{{item.createdDate | date: dateFormate }}</td>
                      <td *ngIf="isSuperAdmin">
                        <div class="d-flex">
                          <a (click)="editRegulation(item)"><img src="../../../../../assets/icons/document-editor.png" class="w_25"></a>
                          <a (click)="delete(item.id)"><img src="../../../../../assets/icons/delete.png" class="w_25"></a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              
              </div>
              <nav aria-label="Page navigation example">
                <div class="pagination justift_end">
                  <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
                </div>
              </nav>
              </div>
            </div>
        </div>
      </div>
    </div>
  </section>
  