<section class="content pt-2">
  <div class="container-fluid">

    <div class="row" ng-show="Regulation==true">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="header_card">
              <h3 class="card-title">Regulation Master</h3>
              <a href="" ng-click="AddRegulation()" class="btn btn-blue"> <img src="dist/img/icons/gdpr.png" class="side_imgmaster mr-1">Add Regulation</a>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>

                  <th>Regulation Name </th>
                  <th>Regulation Code</th>
                  <th>Categories</th>
                  <th>Audit Area</th>
                  <th>Regulation Creation Date</th>
                  <th>Action</th>


                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Do you define in regulation following items for production preparation?-scope of parts,-responsibility of each department　-control contents/items?</td>
                  <td>12345</td>
                  <td>Production preparation</td>
                  <td>Regarding implementation rule of production preparation</td>
                  <td>12-2-2022</td>

                  <td>
                    <a ng-click="AddRegulation()"><img src="dist/img/icons/document-editor.png" class="w_25"></a>
                    <a><img src="dist/img/icons/delete.png" class="w_25"></a>
                  </td>
                </tr>
                <tr>
                  <td>Do you define in regulation following items for production preparation?-scope of parts,-responsibility of each department　-control contents/items?</td>
                  <td>12345</td>
                  <td>Production preparation</td>
                  <td>Regarding implementation rule of production preparation</td>
                  <td>12-2-2022</td>

                  <td>
                    <a ng-click="AddRegulation()"><img src="dist/img/icons/document-editor.png" class="w_25"></a>
                    <a><img src="dist/img/icons/delete.png" class="w_25"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <div class="row" ng-show="RegulationDetail==true">
      <div class="col-md-12">

        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Regulation Details</h3>
          </div>


          <form>
            <div class="card-body">

              <div class="row">
                <div class="col-sm-4">


                  <div class="form-group">
                    <label class="form_label">Regulation Name</label>
                    <textarea class="form-control"></textarea>
                  </div>

                </div>
                <div class="col-sm-4">


                  <div class="form-group">
                    <label class="form_label">Regulation Code</label>
                    <input type="text" class="form-control inputbox_css" ng-model="influencerObj.FirstName"
                           placeholder="Enter Regulation Code" maxlength="200" disabled>
                  </div>

                </div>
                <div class="col-sm-4">


                  <div class="form-group">
                    <label class="form_label">Categories</label>
                    <select class="form-control">
                      <option>Select</option>
                      <option>Education and training</option>
                      <option>Supplier control</option>
                      <option>
                        Regulation for
                        initial production control
                      </option>
                      <option>
                        Regulation for
                        initial production control
                      </option>

                    </select>
                  </div>

                </div>

                <div class="col-sm-4">


                  <div class="form-group">
                    <label class="form_label">Audit Area</label>
                    <select class="form-control">
                      <option>Select</option>
                      <option>Regarding implementation rule of production preparation </option>
                      <option>Regarding implementation rule of production preparation </option>

                    </select>
                  </div>

                </div>
                <!--<div class="col-sm-4">


                  <div class="form-group">
                    <label class="form_label">Regulation Creation Date</label>
                    <input type="date" class="form-control inputbox_css">
                  </div>

                </div>-->



              </div>


            </div>

            <div class="card-footer">
              <button ng-click="Save()" class="btn btn-primary">Save</button>
              <button ng-click="Close()" class="btn btn-default">Close</button>
            </div>
          </form>
        </div>


      </div>
    </div>



  </div>
</section>
