<section class="content pt-2">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="header_card">
              <h3 class="card-title">Contest Text</h3>

            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-sm-8">
                <label class="form_label">Keywords : @Username, @ApplicationLink  <br /><br />(Use these keywords in your template, applictaion will use this keyword to replace text with actual value while sending email) </label>

              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">

                <textarea ng-model="Content.DataText" class="form-control" cols="50" rows="20"></textarea>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <button ng-click="UpdateRule()" class="btn btn-blue">Save</button>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

  </div>
</section>
