<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <a href="index3.html" class="brand-link">
      <img src="../../assets/img/AdminLTELogo.png" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
        style="opacity: .8">
      <span class="brand-text font-weight-light">AdminLTE 3</span>
    </a>
    <div class="sidebar">
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a href="#/" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="isSuperAdmin || isPlanner">
            <a class="nav-link">
              <img src="../../assets/icons/management.png" class="side_img">
              <p>
                Setup
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/dashboard/vendor" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    Vendor Master
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/dashboard/employee" class="nav-link">
                  <img src="../../assets/icons/group.png" class="side_img">
                  <p>
                    Employee Master
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/dashboard/categories" class="nav-link">
                  <img src="../../assets/icons/admin.png" class="side_img">
                  <p>
                    Categories
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/dashboard/audit" class="nav-link">
                  <img src="../../assets/icons/traffic-data.png" class="side_img">
                  <p>
                    Audit Area
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/dashboard/regulation" class="nav-link">
                  <img src="../../assets/icons/gdpr.png" class="side_img">
                  <p>
                    Regulation Setup
                  </p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <img src="../../assets/icons/management.png" class="side_img">
              <p>
                Audit Plan
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item" *ngIf="isSuperAdmin || isPlanner">
                <a routerLink="/dashboard/create" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    Create Plan
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/dashboard/view-plan" class="nav-link">
                  <img src="../../assets/icons/view.png" class="side_img">
                  <p>
                    View Plan
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/dashboard/pending-plan" class="nav-link">
                  <img src="../../assets/icons/planning.png" class="side_img">
                  <p>
                    Pending Plan
                  </p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a routerLink="/dashboard/manage-audit" class="nav-link">
              <img src="../../assets/icons/management.png" class="side_img">
              <p>
                Manage Audit
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Reports
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/report/anual-audit" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    Annual Audit Status 
                  </p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </aside>