<aside class="main-sidebar sidebar-dark-primary elevation-4">
  <div class="user-panel" >
    <img src="../../../../assets/img/MarutiSuzukiLogo.png" style="width: 240px;margin: 10.5px 0;">
  </div>
    <div class="sidebar">
      <nav class="mt-2 navigation">
        <ul class="nav nav-pills nav-sidebar flex-column" id="myDIV" data-widget="treeview" role="menu" data-accordion="false">
          <li class="nav-item">
            <a routerLink="/dashboard" class="nav-link active-sidebar">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Dashboard
              </p>
            </a>
          </li>
          <li class="nav-item" >
            <a class="nav-link active-sidebar active" *ngIf="isSuperAdmin || isPlanner">
              <img src="../../assets/icons/management.png" class="side_img">
              <p>
                Setup
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/dashboard/employee" class="nav-link">
                  <img src="../../assets/icons/group.png" class="side_img">
                  <p>
                    Employee Master
                  </p>
                </a>
              </li>
               <li class="nav-item">
                <a routerLink="/dashboard/vendor" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    Vendor Master
                  </p>
                </a>
              </li> 
              <li class="nav-item">
                <a routerLink="/dashboard/category" class="nav-link">
                  <img src="../../assets/icons/admin.png" class="side_img">
                  <p>
                    Categories
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/dashboard/audit-area" class="nav-link">
                  <img src="../../assets/icons/traffic-data.png" class="side_img">
                  <p>
                    Audit Area
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/dashboard/regulation" class="nav-link">
                  <img src="../../assets/icons/gdpr.png" class="side_img">
                  <p>
                    Regulation Setup
                  </p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link active-sidebar">
              <img src="../../assets/icons/management.png" class="side_img">
              <p>
                Audit Plan
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item" *ngIf="isSuperAdmin || isPlanner">
                <a [routerLink]="['/dashboard/create']" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    Create Plan
                  </p>
                </a>
              </li>
              <li class="nav-item"  *ngIf="isSuperAdmin || isAuditor">
                <a routerLink="/dashboard/view-plan" class="nav-link">
                  <img src="../../assets/icons/view.png" class="side_img">
                  <p>
                    Manage Audit
                  </p>
                </a>
              </li>
              <li class="nav-item" *ngIf="isVendor"> 
                <a routerLink="/dashboard/pending-plan" class="nav-link">
                  <img src="../../assets/icons/planning.png" class="side_img">
                  <p>
                    Pending Plan
                  </p>
                </a>
              </li>
              <li class="nav-item" *ngIf="isVendor"> 
                <a routerLink="/dashboard/action-plan/vendor" class="nav-link">
                  <img src="../../assets/icons/planning.png" class="side_img">
                  <p>
                    Evidence Submission
                  </p>
                </a>
              </li>
              <li class="nav-item" *ngIf="isAuditor"> 
                <a routerLink="/dashboard/action-plan/auditor" class="nav-link">
                  <img src="../../assets/icons/planning.png" class="side_img">
                  <p>
                    Evidence Received
                  </p>
                </a>
              </li>
              <!-- <li class="nav-item" *ngIf="isSectionHead"> 
                <a routerLink="/dashboard/evidence/section-data" class="nav-link">
                  <img src="../../assets/icons/planning.png" class="side_img">
                  <p>
                    SectionHead Data
                  </p>
                </a>
              </li> -->
            
              <!-- <li class="nav-item" *ngIf="isAuditor"> 
                <a routerLink="/dashboard/action-plan/action-pending-plan" class="nav-link">
                  <img src="../../assets/icons/planning.png" class="side_img">
                  <p>
                    RESULT OF VERIFICATION
                  </p>
                </a>
              </li> -->
              <li class="nav-item" *ngIf="isSectionHead"> 
                <a routerLink="/dashboard/evidence/section-data" class="nav-link active-sidebar">
                  <img src="../../assets/icons/planning.png" class="side_img">
                  <p>
                  Pending For Approval
                  </p>
                </a>
              </li>
              <li class="nav-item" *ngIf="isDPM"> 
                <a routerLink="/dashboard/evidence/dpm" class="nav-link active-sidebar">
                  <img src="../../assets/icons/planning.png" class="side_img">
                  <p>
                    Report Approval
                  </p>
                </a>
              </li>
            </ul>
          </li>
          <li class="nav-item" *ngIf="!isVendor && !isSectionHead && !isDPM">
            <a routerLink="/dashboard/manage-audit" class="nav-link active-sidebar">
              <img src="../../assets/icons/management.png" class="side_img">
              <p>
                Audit Execution
              </p>
            </a>
            
          </li>
          <li class="nav-item"  *ngIf="isAuditor">
            <a routerLink="/dashboard/action-plan/receive" class="nav-link active-sidebar">
              <img src="../../assets/icons/management.png" class="side_img">
              <p>
                Action Plan 
              </p>
            </a>
          </li>
          <li class="nav-item"  *ngIf="isVendor">
            <a routerLink="/dashboard/action-plan" class="nav-link active-sidebar">
              <img src="../../assets/icons/management.png" class="side_img">
              <p>
                Action Plan
              </p>
            </a>
          </li>
          <li class="nav-item" *ngIf="!isAuditor && !isVendor">
            <a class="nav-link active-sidebar">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                Reports
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a routerLink="/report/anual-audit" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    Annual Audit Status 
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/report/anual-audit-yearly" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    Annual Audit Status (Yearly)
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/report/dist-status" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    Distribution Status
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/report/vendor-dist-status" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    Vendor Distribution Status
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/report/vsa-status" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    VSA Status
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/report/vsa-trend" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    VSA Trend
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/report/action-plan-vendor" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    Action Plan Vendor Wise
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/report/action-plan-observation" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    Action Plan Observation Wise
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/report/pending-status" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    Report Pending Status
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/report/average-defect" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    Average Defect Vs VSA Score
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/report/average-defect-supplier" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    Average Defect/ Supplier/ Month
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/report/vendor-summary" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    Vendor Summary
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/report/clause-wise-score" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    Clause Wise Score Trend
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/report/vendor-wise-score" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    Vendor wise Score Trend
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/report/trade-repeat" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    Trend of repeat observations
                  </p>
                </a>
              </li>
              <li class="nav-item">
                <a routerLink="/report/executive-summary" class="nav-link">
                  <img src="../../assets/icons/lightbulb.png" class="side_img">
                  <p>
                    Executive Summary
                  </p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
    </div>
  </aside>