<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="header_card">
                <h3 class="card-title">Categories Details</h3>
                <a *ngIf="isSuperAdmin" (click)="addCategory()" class="btn btn-blue"> <img src="../../../../../assets/icons/admin.png" class="side_imgmaster mr-1">Add Categories</a>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                    <tr class="sticky_header">
                      <th>S.No</th>
                      <th>Category Code </th>
                      <th>Category Name</th>
                      <th *ngIf="isSuperAdmin">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>1</td>
                      <td>CH1235</td>
                      <td>
                        Regulation for
                        initial production control
                      </td>
                      <td *ngIf="isSuperAdmin">
                        <div class="d-flex">
                          <a (click)="addCategory()"><img src="../../../../../assets/icons/document-editor.png" class="w_25"></a>
                          <a><img src="../../../../../assets/icons/delete.png" class="w_25"></a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>CH1234</td>
                      <td>Production preparation</td>
                      <td *ngIf="isSuperAdmin">
                        <div class="d-flex">
                          <a (click)="addCategory()"><img src="../../../../../assets/icons/document-editor.png" class="w_25"></a>
                          <a><img src="../../../../../assets/icons/delete.png" class="w_25"></a>
                        </div>
                      </td>
                    </tr>
                    <tr>
                      <td>1</td>
                      <td>CH1234</td>
                      <td>Changing management</td>
                      <td *ngIf="isSuperAdmin">
                        <div class="d-flex">
                          <a (click)="addCategory()"><img src="../../../../../assets/icons/document-editor.png" class="w_25"></a>
                          <a><img src="../../../../../assets/icons/delete.png" class="w_25"></a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <nav aria-label="Page navigation example">
                <ul class="pagination justift_end">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            </div>
        </div>
      </div>
    </div>
  </section>