<section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <div class="header_card">
                <h3 class="card-title">Categories Details</h3>
                <a *ngIf="isSuperAdmin" (click)="addCategory()" class="btn btn-primary"> <img src="../../../../../assets/icons/admin.png" class="side_imgmaster mr-1">Add Categories</a>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive">
                <table id="example2" class="table table-bordered table-hover">
                  <thead>
                    <tr class="sticky_header">
                      <th>S.No</th>
                      <th>Category Name</th>
                      <th>Status</th>
                      <th *ngIf="isSuperAdmin">Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let item of categoryObj; let i = index;" class="text-center">
                      <td>{{i + 1}}</td>
                      <td>{{item.name}}</td>
                      <td >
                        <button [ngClass]="item.active  ? 'btn btn-success' : 'btn btn-danger'">{{item.active ? 'Active' : 'Inactive'}}</button> </td>
                      <td *ngIf="isSuperAdmin">
                        <div class="d-flex">
                          <a (click)="update(item)"><img src="../../../../../assets/icons/document-editor.png" class="w_25"></a>
                          <a (click)="delete(item.id)"><img src="../../../../../assets/icons/delete.png" class="w_25"></a>
                        </div>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <nav aria-label="Page navigation example">
                <ul class="pagination justift_end">
                  <li class="page-item">
                    <a class="page-link" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link">1</a></li>
                  <li class="page-item"><a class="page-link">2</a></li>
                  <li class="page-item"><a class="page-link">3</a></li>
                  <li class="page-item">
                    <a class="page-link" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                    </a>
                  </li>
                </ul>
              </nav>
            </div>
            </div>
        </div>
      </div>
    </div>
  </section>