<section class="content pt-2">
  <div class="container-fluid">

    <div class="row" ng-show="Auditarea==true">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="header_card">
              <h3 class="card-title">Audit Area Details</h3>
              <a href="" ng-click="AddAuditArea()" class="btn btn-blue"> <img src="dist/img/icons/traffic-data.png" class="side_imgmaster mr-1">Add Audit Area</a>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>

                  <th>Audit Area Name </th>
                  <th>Categories </th>
                  <th>Action</th>


                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>ABCCCCC</td>
                  <td>Categories1</td>

                  <td>
                    <a ng-click="AddAuditArea()"><img src="dist/img/icons/document-editor.png" class="w_25"></a>
                    <a><img src="dist/img/icons/delete.png" class="w_25"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <div class="row" ng-show="AuditareaDetail==true">
      <div class="col-md-12">

        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Audit Area Details</h3>
          </div>


          <form>
            <div class="card-body">

              <div class="row">
                <div class="col-sm-4">


                  <div class="form-group">
                    <label class="form_label">Audit Area Name</label>
                    <input type="text" class="form-control inputbox_css" ng-model="influencerObj.FirstName"
                           placeholder="Enter Audit Area Name" maxlength="200">
                  </div>

                </div>

                <div class="col-sm-4">


                  <div class="form-group">
                    <label class="form_label">Categories</label>
                    <select class="form-control">
                      <option>Select</option>
                      <option>Categories 1</option>
                      <option>Categories  2</option>

                    </select>
                  </div>

                </div>
                <div class="col-sm-4">


                  <div class="form-group">
                    <label class="form_label">Employee Creation Date</label>
                    <input type="date" class="form-control inputbox_css">
                  </div>

                </div>



              </div>


            </div>

            <div class="card-footer">
              <button ng-click="Save()" class="btn btn-primary">Save</button>
              <button ng-click="Close()" class="btn btn-default">Close</button>
            </div>
          </form>
        </div>


      </div>
    </div>



  </div>
</section>
