<section class="content pt-2">
  <div class="container-fluid">

    <div class="row" ng-show="Category==true">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="header_card">
              <h3 class="card-title">Categories Details</h3>
              <a href="" ng-click="AddCategory()" class="btn btn-blue"> <img src="dist/img/icons/admin.png" class="side_imgmaster mr-1">Add Categories</a>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>S.No</th>
                  <th>CategoriesCode </th>
                  <th>Categories Name</th>
                  <th>Action</th>


                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td>CH1235</td>
                  <td>
                    Regulation for
                    initial production control
                  </td>




                  <td>
                    <a ng-click="AddCategory()"><img src="dist/img/icons/document-editor.png" class="w_25"></a>
                    <a><img src="dist/img/icons/delete.png" class="w_25"></a>
                  </td>
                </tr>

                <tr>
                  <td>1</td>
                  <td>CH1234</td>
                  <td>Production preparation</td>




                  <td>
                    <a ng-click="AddCategory()"><img src="dist/img/icons/document-editor.png" class="w_25"></a>
                    <a><img src="dist/img/icons/delete.png" class="w_25"></a>
                  </td>
                </tr>
                <tr>
                  <td>1</td>
                  <td>CH1234</td>
                  <td>Changing management</td>




                  <td>
                    <a ng-click="AddCategory()"><img src="dist/img/icons/document-editor.png" class="w_25"></a>
                    <a><img src="dist/img/icons/delete.png" class="w_25"></a>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <div class="row" ng-show="CategoryDetails==true">
      <div class="col-md-12">

        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title"> Categories Details</h3>
          </div>


          <form>
            <div class="card-body">

              <div class="row">
                <div class="col-sm-4">


                  <div class="form-group">
                    <label class="form_label">Categories Name</label>
                    <input type="text" class="form-control inputbox_css" ng-model="influencerObj.FirstName"
                           placeholder="Enter Categories Name" maxlength="200">
                  </div>

                </div>

               



              </div>


            </div>

            <div class="card-footer">
              <button ng-click="AddData()" class="btn btn-primary">Save</button>
              <button ng-click="init()" class="btn btn-default">Close</button>
            </div>
          </form>
        </div>


      </div>
    </div>



  </div>
</section>
