<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="header_card">
                            <h3 class="card-title">Audit Area Details</h3>
                            <div class="d-flex align-items-center">
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive max_hei_table">
                            <table id="" class="table table-bordered table-hover">
                                <thead>
                                    <tr class=" text-center sticky_header">
                                        <th>Audit Complition Date</th>
                                        <th>Vendor Code </th>
                                        <th>Vendor Name</th>
                                        <th>Auditor Name </th>
                                        <th>View Report</th>
                                        <th>No Of Observation</th>
                                        <th>Accept</th>
                                        <th>Reject</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tbody_data" *ngFor="let item of viewPlanList;">
                                        <td></td>
                                        <td>{{item.vendorCode}}</td>
                                        <td>{{item.vendorName}}</td>
                                        <td></td>
                                        <td><a><img src="../../../../assets/img/pie-chart.png" class="w_30"></a></td>
                                        <td>{{item.observationCount}}</td>
                                        <td>
                                            <button class="btn btn-success" (click)="submit(accept,
                                            item.id)" data-toggle="tooltip" data-placement="top" title="Tooltip on top">Accept</button>
                                        </td>
                                        <td>
                                            <button class="btn btn-danger" data-toggle="tooltip" (click)="submit(reject,item.id)" data-placement="top" title="Tooltip on top">Reject</button>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <nav aria-label="Page navigation example">
                            <ul class="pagination justift_end">
                                <li class="page-item">
                                    <a class="page-link"  aria-label="Previous">
                                        <span aria-hidden="true">&laquo;</span>
                                    </a>
                                </li>
                                <li class="page-item"><a class="page-link" >1</a></li>
                                <li class="page-item"><a class="page-link" >2</a></li>
                                <li class="page-item"><a class="page-link" >3</a></li>
                                <li class="page-item">
                                    <a class="page-link"  aria-label="Next">
                                        <span aria-hidden="true">&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
=======
<div class="card">
    <div class="card-header">
        <div class="header_card">
            <h3 class="card-title">Regulation for initial production control </h3>
            
        </div>
    </div>
    <div class="card-body">
       
        <div class="table-responsive max_hei_table" >
            <table id="" class="table table-bordered table-hover">
                <thead>
                    <tr class="text-center">
                        <th colspan="9">Observation(2)
                            <button class="btn btn-success mr-1">Accept</button>
                            <button class="btn btn-danger">Reject</button>
                        </th>

                    </tr>
                    <tr class=" text-center sticky_header fon_9">
                        <th>Observation</th>
                        <th>ITEM NO.</th>
                        <th>SUB ITEM NO. </th>
                        <th>DESIRED IMPROVEMENT POINTS</th>
                        <th>DETAIL OF IMPROVEMENT PLAN</th>
                        <th>IN-CHARGE</th>
                        <th>DATE</th>
                        <!-- <th>RESULT OF VERIFICATION</th> -->
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tbody_data ">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        
                        <td>
                           <textarea class="form-control" placeholder="Enter your Remarks"></textarea>
                        </td>
                        
                    </tr>
                    <tr class="tbody_data ">
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                     
                        <td>
                            <textarea class="form-control" placeholder="Enter your Remarks"></textarea>
                         </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
     
    
        <nav aria-label="Page navigation example">
            <ul class="pagination justift_end">
                <li class="page-item">
                    <a class="page-link"  aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                    </a>
                </li>
                <li class="page-item"><a class="page-link" >1</a></li>
                <li class="page-item"><a class="page-link" >2</a></li>
                <li class="page-item"><a class="page-link" >3</a></li>
                <li class="page-item">
                    <a class="page-link"  aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>
    <div class="card-footer">
        <button class="btn btn-default">Close</button>
        </div>
</div>