<section class="content pt-2">
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="header_card">
              <h3 class="card-title">Audit Area Details ( {{vendorName}} )</h3>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div class="table-responsive max_hei_table">
                  <table class="table table-bordered">
                    <thead>
                      <tr class="text-center">
                        <th>S.No</th>
                        <th>Category</th>
                        <th>Completion Status</th>
                        <th class="w_226">Score</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let item of categoryScoreList;  let i =index;" style="cursor: pointer;" data-toggle="tooltip" data-placement="top" [title]="item.name" class="hover-tr">
                        <td (click)="details(item.categoryId)">{{i+1}}.</td>
                        <td (click)="details(item.categoryId)">{{item.name}}</td>
                        <td (click)="details(item.categoryId)">{{item.competedRegulation}}/{{item.totalRegulation}}
                        </td>
                        <td (click)="details(item.categoryId)">{{item.categoryScore
                        }}/{{item.totalCount}}</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <div class="flex_direction_media">
              <button class="btn btn-primary mr-1" (click)="viewSummary()">
                View Summary Details</button>
              <button class="btn btn-danger mr-1" data-toggle="modal" data-target="#executive-summary">Vendor Summary
              </button>
              <button (click)="getEmployeeList()" class="btn btn-success mr-1" data-toggle="modal" data-target="#submit" [disabled]="isNotCompleteRegulation">Submit</button>
              <button (click)="back()" class="btn btn-default">Back</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="modal fade" id="executive-summary" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Executive Summary</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div id="accordion">
          <div class="d-flex execuit_popp">
            <button class="btn btn-primary" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
              aria-controls="collapseOne">
              Vendor Attendees
            </button>
            <button class="btn btn-primary collapsed" data-toggle="collapse" data-target="#collapseTwo"
              aria-expanded="false" aria-controls="collapseTwo">
              Critical Observation
            </button>
          </div>
          <form [formGroup]="executiveSummaryForm">
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                <div class="row">
                  <div class="col-sm-12">
                    <div class="table-responsive max_hei_table">
                      <table class="table table-bordered" formArrayName="vendorAttendee">
                        <thead>
                          <tr class="sticky_header">
                            <th scope="col">S.No</th>
                            <th scope="col">Vendor Attendees</th>
                            <th scope="col">Action</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let obj of vendorAttendeeArray.controls;
                                          let i = index;">
                            <th scope="row">{{i+1}}</th>
                            <td class="p-1" [formGroupName]="i">
                              <input type="text" class="form-control inputbox_css" placeholder="Enter Vendor Attendees"
                                maxlength="200" formControlName="vendorAttendee">
                            </td>
                            <td class="btn-width p-1">
                              <button class="btn btn-success btn-add-deatil mr-2 py-1" (click)="addVendorAttendee('')">+</button>
                              <button class="btn btn-danger py-1" *ngIf="i > 0" (click)="removeVendorAttendee(i)"><i
                                  class="fa fa-trash"></i></button>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer">
                <button type="button" (click)="saveVendorAttendee()" class="btn btn-primary mr-1">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">
                  Close</button>
              </div>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
              <div class="card-body">
                <div class="table-responsive max_hei_table">
                  <table class="table table-bordered" formArrayName="criticalObservation">
                    <thead>
                      <tr class="sticky_header">
                        <th>S.No</th>
                        <th>Remarks</th>
                        <th>Action</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr *ngFor="let obj of criticalObservationArray.controls;let i = index;">
                        <th scope="row">{{i+1}}</th>
                        <td class="p-1" [formGroupName]="i">
                          <textarea class="form-control" rows="3" placeholder="Enter Your Remark" spellcheck="false"
                            formControlName="criticalObservation">
                            </textarea>
                        </td>
                        <td class="btn-width p-1">
                          <button class="btn btn-success mr-2 py-1" (click)="addCriticalObservation('')">
                            +
                          </button>
                          <button class="btn btn-danger py-1" *ngIf="i > 0" (click)="removeCriticalObservation(i)">
                            <i class="fa fa-trash"></i>
                          </button>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div class="card-footer">
                <button type="button" (click)="saveCriticalObservation()" class="btn btn-primary mr-1">Save
                  changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="submit" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Approval</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label> Select Section Head</label>
          <select class="form-control" (change)="getSectionHead($event)">
            <option></option>
            <option [value]="item.id" *ngFor="let item of sectionHeadObj">{{item.name}}</option>
          </select>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" data-dismiss="modal" (click)="reportSubmit(final)" class="btn btn-success">Submit</button>
      </div>
    </div>
  </div>
</div>