<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="header_card">
                            <h3 class="card-title">Audit Area Details (Vendor 1)</h3>
                            <button class="btn btn-success">Download PDF</button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-2">
                                <div class="box box_css">
                                    <div class="c100 p12 small">
                                        <span>12%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <button (click)="details()" class="btn  btn-blue fon_12"> Production
                                        preparation</button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="box box_css">
                                    <div class="c100 p12 small">
                                        <span>20%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <button class="btn  btn-blue fon_12">
                                        Regulation for
                                        initial production control
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="box box_css">
                                    <div class="c100 p12 small">
                                        <span>30%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <button class="btn  btn-blue fon_12"> Changing management</button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="box box_css">
                                    <div class="c100 p12 small">
                                        <span>20%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <button class="btn  btn-blue fon_12">
                                        Standards management
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="box box_css">
                                    <div class="c100 p12 small">
                                        <span>60%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <button class="btn  btn-blue fon_12">
                                        Education and training
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="box box_css">
                                    <div class="c100 p12 small">
                                        <span>60%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <button class="btn  btn-blue fon_12">
                                        Quality audit and process verification
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-2">
                            <div class="col-sm-2">
                                <div class="box box_css">
                                    <div class="c100 p12 small">
                                        <span>12%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <button class="btn  btn-blue fon_12"> Production preparation</button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="box box_css">
                                    <div class="c100 p12 small">
                                        <span>20%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <button class="btn  btn-blue fon_12">
                                        Regulation for
                                        initial production control
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="box box_css">
                                    <div class="c100 p12 small">
                                        <span>30%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <button class="btn  btn-blue fon_12"> Changing management</button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="box box_css">
                                    <div class="c100 p12 small">
                                        <span>20%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <button class="btn  btn-blue fon_12">
                                        Standards management
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="box box_css">
                                    <div class="c100 p12 small">
                                        <span>60%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <button class="btn  btn-blue fon_12">
                                        Education and training
                                    </button>
                                </div>
                            </div>
                            <div class="col-sm-2">
                                <div class="box box_css">
                                    <div class="c100 p12 small">
                                        <span>60%</span>
                                        <div class="slice">
                                            <div class="bar"></div>
                                            <div class="fill"></div>
                                        </div>
                                    </div>
                                    <button class="btn  btn-blue fon_12">
                                        Quality audit and process verification
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="flex_direction_media">
                            <button class="btn btn-primary" (click)="viewSummary()">View Summary
                                Details</button>
                            <button class="btn btn-primary">Save as draft</button>
                            <button class="btn btn-danger" data-toggle="modal" data-target="#exampleModal1"> Critical
                                Observation</button>
                            <button class="btn btn-success" data-toggle="modal"
                                data-target="#exampleModal">Submit</button>
                            <button (click)="back()" class="btn btn-default">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>