<section class="content pt-2">
  <div class="container-fluid">

    <div class="row">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="header_card">
              <h3 class="card-title">Terms & Conditions</h3>

            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <div class="row">
              <div class="col-sm-12">
                <div ckeditor="options" ng-model="Content.DataText" ready="onReady()"></div>

              </div>
            </div>
            <div class="row mt-1">
              <div class="col-sm-12">
                <button ng-click="UpdateRule()" class="btn btn-blue">Save</button>
              </div>
            </div>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>

  </div>
</section>
