<section class="content pt-2">
  <div class="container-fluid">

    <div class="row" ng-show="MainGrid==true">
      <div class="col-12">
        <div class="card">
          <div class="card-header">
            <div class="header_card">
              <h3 class="card-title">Horse Details</h3>
              <a href="" ng-click="OpenAddForm()" class="btn btn-blue"> <i class="far fa-user mr-2" aria-hidden="true"></i>Add Horse</a>
            </div>
          </div>
          <!-- /.card-header -->
          <div class="card-body">
            <table id="example2" class="table table-bordered table-hover">
              <thead>
                <tr>
                  <th>Game </th>
                  <th>Horse </th>
                  <th>Image </th>
                  <th>Jockey Name </th>
                  <th>Jockey Stats </th>
                  <th>Trainer Name </th>
                  <th>Last 5 Finishes </th>
                  <th>Comments </th>
                  <th>Odds </th>
                  <th>Seed </th>
                  <th>Sequence </th>
                  <th>Pair </th>
                  <th>Round </th>

                  <th>Action </th>

                </tr>
              </thead>
              <tbody>
                <tr ng-repeat="item in HorseData">
                  <td>{{item.GameName}}</td>
                  <td>{{item.HorseName}}</td>
                  <td><img src={{item.HorseImage}}></td>
                  <td>{{item.JockeyName}}</td>
                  <td>{{item.JockeyStats}}</td>
                  <td>{{item.TrainerName}}</td>
                  <td>{{item.Last5Finishes}}</td>
                  <td>{{item.Comments}}</td>
                  <td>{{item.Odds}}</td>
                  <td>{{item.Seed}}</td>
                  <td>{{item.Sequence}}</td>
                  <td>{{item.Pair}}</td>
                  <td>{{item.Round}}</td>
                  <td class="d-flex">
                    <a href="" ng-click="OpenUploadForm(item)"><img src="dist/img/icon/568717.png" class="table_icon mr-1"></a>
                    <a href="" ng-click="OpenEditForm(item)"><img src="dist/img/icon/edit.png" class="table_icon mr-1"></a>
                    <a href="" ng-click="DeleteHorseData(item)"> <img src="dist/img/icon/delet.png" class="table_icon"></a>
                  </td>
                </tr>


              </tbody>

            </table>
          </div>
          <!-- /.card-body -->
        </div>
        <!-- /.card -->
        <!-- /.card -->
      </div>
      <!-- /.col -->
    </div>
    <div class="row" ng-show="AddHorse==true">
      <div class="col-md-12">

        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Horse Details</h3>
          </div>


          <form>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Select Game</label>
                    <select name="Horse" class="form-control selectpicker"
                            ng-options=" DC.Id as DC.GameName for DC in GameList"
                            ng-model="horseObj.Game_Id"></select>
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Horse Name</label>
                    <input type="text" class="form-control inputbox_css" ng-model="horseObj.HorseName"
                           placeholder="Enter Horse Name" maxlength="100">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Jockey Name</label>
                    <input type="text" class="form-control inputbox_css" ng-model="horseObj.JockeyName"
                           placeholder="Enter Jockey Name" maxlength="200">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Jockey Stats</label>
                    <input type="text" class="form-control inputbox_css" ng-model="horseObj.JockeyStats"
                           placeholder="Enter Jockey Stats" maxlength="200">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Trainer Name</label>
                    <input type="text" class="form-control inputbox_css" ng-model="horseObj.TrainerName"
                           placeholder="Enter Trainer Name" maxlength="200">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Last 5 Finishes</label>
                    <input type="text" class="form-control inputbox_css" ng-model="horseObj.Last5Finishes"
                           placeholder="Enter Last 5 Finishes" maxlength="200">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Comments</label>
                    <input type="text" class="form-control inputbox_css" ng-model="horseObj.Comments"
                           placeholder="Enter Comments" maxlength="500">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Odds</label>
                    <input type="text" class="form-control inputbox_css" ng-model="horseObj.Odds"
                           placeholder="Enter Odds" maxlength="10">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Seed</label>
                    <input type="number" class="form-control inputbox_css" ng-model="horseObj.Seed"
                           placeholder="Enter Seed" maxlength="10">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Sequence</label>
                    <input type="number" class="form-control inputbox_css" ng-model="horseObj.Sequence"
                           placeholder="Enter Seed Value" maxlength="10">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Pair</label>
                    <input type="number" class="form-control inputbox_css" ng-model="horseObj.Pair"
                           placeholder="Enter Pair" maxlength="10">
                  </div>
                </div>

                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Round</label>
                    <input type="number" class="form-control inputbox_css" ng-model="horseObj.Round"
                           placeholder="Enter Round" maxlength="10">
                  </div>
                </div>

                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Bet Amount</label>
                    <input type="number" class="form-control inputbox_css" ng-model="horseObj.BetAmount"
                           placeholder="Enter Bet Amount" maxlength="10">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Button Text</label>
                    <input type="text" class="form-control inputbox_css" ng-model="horseObj.ButtonText"
                           placeholder="Enter Button Text" maxlength="100">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Redirect Link</label>
                    <input type="text" class="form-control inputbox_css" ng-model="horseObj.RedirectLink"
                           placeholder="Enter Redirect Link" maxlength="500">
                  </div>
                </div>



              </div>

            </div>

            <div class="card-footer">
              <button ng-click="AddHorseData()" class="btn btn-blue">Save</button>
              <button ng-click="ManageScreenView('Main')" class="btn btn-blue">Back</button>
            </div>
          </form>
        </div>


      </div>
    </div>
    <div class="row" ng-show="EditHorse==true">
      <div class="col-md-12">

        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Horse Details</h3>
          </div>


          <form>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Select Game</label>
                    <select name="Horse" class="form-control selectpicker"
                            ng-options=" DC.Id as DC.GameName for DC in GameList"
                            ng-model="horseObj.Game_Id"></select>
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Horse Name</label>
                    <input type="text" class="form-control inputbox_css" ng-model="horseObj.HorseName"
                           placeholder="Enter Horse Name" maxlength="100">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Jockey Name</label>
                    <input type="text" class="form-control inputbox_css" ng-model="horseObj.JockeyName"
                           placeholder="Enter Jockey Name" maxlength="200">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Jockey Stats</label>
                    <input type="text" class="form-control inputbox_css" ng-model="horseObj.JockeyStats"
                           placeholder="Enter Jockey Stats" maxlength="200">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Trainer Name</label>
                    <input type="text" class="form-control inputbox_css" ng-model="horseObj.TrainerName"
                           placeholder="Enter Trainer Name" maxlength="200">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Last 5 Finishes</label>
                    <input type="text" class="form-control inputbox_css" ng-model="horseObj.Last5Finishes"
                           placeholder="Enter Last 5 Finishes" maxlength="200">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Comments</label>
                    <input type="text" class="form-control inputbox_css" ng-model="horseObj.Comments"
                           placeholder="Enter Comments" maxlength="500">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Odds</label>
                    <input type="text" class="form-control inputbox_css" ng-model="horseObj.Odds"
                           placeholder="Enter Odds" maxlength="10">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Seed</label>
                    <input type="number" class="form-control inputbox_css" ng-model="horseObj.Seed"
                           placeholder="Enter Seed" maxlength="10">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Sequence</label>
                    <input type="number" class="form-control inputbox_css" ng-model="horseObj.Sequence"
                           placeholder="Enter Seed Value" maxlength="10">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Pair</label>
                    <input type="number" class="form-control inputbox_css" ng-model="horseObj.Pair"
                           placeholder="Enter Pair" maxlength="10">
                  </div>
                </div>

                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Round</label>
                    <input type="number" class="form-control inputbox_css" ng-model="horseObj.Round"
                           placeholder="Enter Round" maxlength="10">
                  </div>
                </div>

                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Bet Amount</label>
                    <input type="number" class="form-control inputbox_css" ng-model="horseObj.BetAmount"
                           placeholder="Enter Bet Amount" maxlength="10">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Button Text</label>
                    <input type="text" class="form-control inputbox_css" ng-model="horseObj.ButtonText"
                           placeholder="Enter Button Text" maxlength="100">
                  </div>
                </div>
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Redirect Link</label>
                    <input type="text" class="form-control inputbox_css" ng-model="horseObj.RedirectLink"
                           placeholder="Enter Redirect Link" maxlength="500">
                  </div>
                </div>



              </div>

            </div>

            <div class="card-footer">
              <button ng-click="EditHorseData()" class="btn btn-blue">Save</button>
              <button ng-click="ManageScreenView('Main')" class="btn btn-blue">Back</button>
            </div>
          </form>
        </div>


      </div>
    </div>
    <div class="row" ng-show="UploadImage==true">
      <div class="col-md-12">

        <div class="card card-default">
          <div class="card-header">
            <h3 class="card-title">Horse Details</h3>
          </div>


          <form>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-4">

                  <div class="form-group">
                    <label class="form_label">Upload Image</label>
                    <input class="form-control" type="file" file-model="myFile" />
                  </div>
                </div>
              </div>

            </div>

            <div class="card-footer">
              <button ng-click="UploadHorseImage()" class="btn btn-blue">Save</button>
              <button ng-click="ManageScreenView('Main')" class="btn btn-blue">Back</button>
            </div>
          </form>
        </div>


      </div>
    </div>
  </div>
</section>
