<div class="card">
    <div class="card-header">
        <div class="header_card">
            <h3 class="card-title">Regulation for initial production control </h3>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive max_hei_table" >
            <table id="" class="table table-bordered table-hover">
                <thead>
                    <tr class="text-center">
                        <th colspan="8">Observation({{actionPlanList.length}})</th>
                    </tr>
                    <tr class=" text-center sticky_header fon_9">
                        <th>Observation</th>
                        <th>ITEM NO.</th>
                        <th>SUB ITEM NO. </th>
                        <th>DESIRED IMPROVEMENT POINTS</th>
                        <th>DETAIL OF IMPROVEMENT PLAN</th>
                        <th>IN-CHARGE</th>
                        <th>DATE</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="tbody_data" *ngFor="let item of actionPlanList| paginate: { itemsPerPage: pagination.pageSize, currentPage: pagination.pageNumber } ;let i =index">
                        <td>{{(i+1) + pagination.pageSize * ( pagination.pageNumber-1 ) }}</td>    
                        <td>{{i+1}}</td>
                        <td>{{i+1}}.1</td>
                        <td><textarea [(ngModel)]="item.remarkOfAuditor" class="form-control"></textarea></td>
                        <td>{{item.detailOfImprovement}}</td>
                        <td>{{item.incharge}}
                        </td>
                        <td>{{item.dateOfSubmission | date:dateFormat}}</td>
                        <!-- <td ><input [(ngModel)]="item.dateOfSubmission" type="date"></td> -->
                    </tr>
                </tbody>
            </table>
        </div>
        <nav aria-label="Page navigation example">
            <div class="pagination justift_end">
              <pagination-controls (pageChange)="pageChanged($event)"></pagination-controls>
            </div>
          </nav>
    </div>
    <div class="card-footer">
        <button (click)="submit()" class="btn btn-success">Submit</button>
        </div>
</div>