<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
              <div class="card card-default">
                <div class="card-header">
                  <h3 class="card-title"> Category Details</h3>
                </div>
                <form [formGroup]="categoryForm">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="form_label">Category Name</label>
                          <input type="text" class="form-control inputbox_css" 
                                 placeholder="Enter Categories Name" formControlName="name"
                                 maxlength="200">
                        </div>
                      </div>
                      <!-- <div class="col-sm-4">
                        <div class="form-group">
                          <label class="form_label">Category Code</label>
                          <input type="text" class="form-control inputbox_css" 
                                 placeholder="Enter Categories Name" formControlName="code"
                                 maxlength="200">
                        </div>
                      </div> -->
                      <div class="col-sm-4">
                        <div class="form-group">
                          <label class="form_label">Status</label>
                          <select class="form-control inputbox_css">
                          <option>Active</option>
                          <option>In Active</option>
                          
                          </select>
                          </div>
                        </div><!--colend-->
                    </div>
                    <div class="d-flex">
                    <input type="checkbox">
                  <p class="ml-1 mb-0">Critical Observation</p>
                  </div>
                  </div>
                  <div class="card-footer">
                    <button type="button" (click)="save()" class="btn btn-primary">Save</button>
                    <button type="button" (click)="close()" class="btn btn-default">Back</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
    </div>
</section>
