<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="header_card">
                            <h3 class="card-title">Action Plan-Category Details</h3>   
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive max_hei_table-400">
                            <table id="" class="table table-bordered table-hover">
                                <thead>
                                    <tr class="sticky_header">
                                        <th>S.No</th>
                                        <th>Categories </th>
                                        <th>Observation ( Remarks )</th>
                                        <th>Action Plan Submitted</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr class="tbody_data" *ngFor="let item of categoryScoreList;
                                    let i =index">
                                        <td>{{(i+1)}}</td>
                                        <td>{{item.name}}</td>
                                        <td>
                                          
                                            <p class="cursor-pointer mb-0" (click)="goToObservation(item.categoryId)">{{item.observationCount}}</p> 



                                        </td>
                                        <td> 
                                            <div class="d-flex">
                                            <span class="w_17 mr-2">3/8</span>
                                            <div class="progress w_80">
                                                <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
                                              </div>
                                              </div>
                                                    </td>               
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                    <div class="card-footer">
                        <div class="d-flex justify-content-between">
                        <div>
                        </div>
                        <button class="btn btn-success">Submit</button>
                        <button (click)="back()" class="btn btn-default">Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>