<div class="container-fluid pt-2">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <div class="header_card">
            <h3 class="card-title">Dashboard (WIP)</h3>
          </div>
        </div>
        <div class="card-body" *ngIf="!isVendor">
          <div class="row">
            <div class="col-sm-8">
              <canvas baseChart [data]="actionPlanData" height="100%" [type]="'bar'" [options]="actionPlanOptions">
              </canvas>
            </div>
            <div class="col-sm-4">
              <canvas baseChart [data]="pieChartData" [type]="'pie'" [options]="pieChartOptions">
              </canvas>
            </div>
            <div class="col-sm-4">
              <canvas baseChart [data]="pieChartData1" [type]="'pie'" [options]="pieChartOptions1">
              </canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
