<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="header_card d-flex justify-content-between">
                            <h3 class="card-title">Audit Area Details (Vendor 1)</h3>
                        </div>
                    </div>
                    <form [formGroup]="initiateForm">
                     <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form_label">Vendor Name</label>
                                    <select class="form-control" formControlName="vendorId">
                                        <option *ngFor="let item of vendorObj" [value]="item.id"> {{item.name }}</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form_label">Vendor Code</label>
                                    <select class="form-control" formControlName="vendorId">
                                        <option> NPH1234</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form_label">Start Date</label>
                                    <input type="date" class="form-control inputbox_css" formControlName="startDate"
                                        >
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form_label">End Date</label>
                                    <input type="date" class="form-control inputbox_css" formControlName="endDate"
                                        >
                                </div>
                            </div>
                            <!-- <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form_label">Department Head </label>
                                    <select class="form-control">
                                        <option>Department Head 1</option>
                                        <option>Department Head 2</option>
                                        <option>Department Head 3</option>
                                        <option>Department Head 4</option>
                                    </select>
                                </div>
                            </div> -->
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form_label">Part Name</label>
                                    <input type="text" class="form-control inputbox_css"
                                        placeholder="Enter Part Name"
                                        maxlength="200" formControlName="partName">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form_label">Actual Start Date</label>
                                    <input type="date" class="form-control inputbox_css" formControlName="actualStartDate">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form_label">Actual End Date</label>
                                    <input type="date" class="form-control inputbox_css" 
                                    formControlName="actualEndDate">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form_label">Any Other location </label>
                                    <input type="text" class="form-control" placeholder="Enter other location">
                                </div>
                            </div>
                            <!-- <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="mb-0">Auditor</label>
                                    <p class="form_label">Auditor1, Auditor2, Auditor3</p>
                                </div>
                            </div> -->
                        </div>
                        <!-- <div class="row">
                            <div class="col-sm-12">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="sticky_header">
                                            <th scope="col">S.No</th>
                                            <th scope="col">Vendor Attendees</th>
                                            <th scope="col">Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th scope="row">1</th>
                                            <td>
                                                <input type="text" class="form-control inputbox_css"
                                                    placeholder="Enter Vendor Attendees" maxlength="200">
                                            </td>
                                            <td>
                                                <div class="d-flex add_minus_mar">
                                                    <button class="btn btn-primary">+</button>
                                                    <button class="btn btn-danger">-</button>
                                                </div>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div> -->
                     </div>
                    </form>
                    <div class="card-footer text-right">
                        <button (click)="next()" class="btn btn-primary mr-1">Next</button>
                        <button (click)="back()" class="btn btn-default">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>