<section class="content pt-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="header_card d-flex justify-content-between">
                            <h3 class="card-title">Audit Area Details</h3>
                        </div>
                    </div>
                    <form [formGroup]="initiateForm">
                     <div class="card-body">
                        <div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form_label">Vendor Name</label>
                                    <input type="text" class="form-control inputbox_css" formControlName="vendorName"
                                    [attr.disabled]="disabled">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form_label">Vendor Code</label>
                                    <input type="text" class="form-control inputbox_css" formControlName="vendorCode" [attr.disabled]="disabled">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form_label">Start Date</label>
                                    <input type="date" class="form-control inputbox_css" formControlName="plannedStartDate"
                                    [attr.disabled]="disabled">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form_label">End Date</label>
                                    <input type="date" class="form-control inputbox_css" formControlName="plannedEndDate"
                                    [attr.disabled]="disabled"  >
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form_label">Part Name<span class="start_css">*</span></label>
                                    <input type="text" class="form-control inputbox_css"
                                        placeholder="Enter Part Name"
                                        maxlength="200" formControlName="partName">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form_label">Part Number <span class="start_css">*</span> </label>
                                    <input type="text" class="form-control" formControlName="partNumber" placeholder="Enter Part Number" >
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form_label">Actual Start Date <span class="start_css">*</span></label>
                                    <input type="date" class="form-control inputbox_css" formControlName="actualStartDate" 
                                    [min]="initiateForm.controls['plannedStartDate'].value">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form_label">Actual End Date <span class="start_css">*</span></label>
                                    <input type="date" class="form-control inputbox_css" 
                                    formControlName="actualEndDate" 
                                    [min]="initiateForm.controls['actualStartDate'].value">
                                </div>
                            </div>
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="form_label">Any Other Location</label>
                                    <input type="text" class="form-control" formControlName="otherLocation" placeholder="Enter other location">
                                </div>
                            </div>
                        </div>
                     </div>
                    </form>
                    <div class="card-footer text-right">
                        <button (click)="next()" class="btn btn-primary mr-1">Next</button>
                        <button (click)="back()" class="btn btn-default">Back</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>