<div class="card">
  <!--   <div class="card-header">
      <div class="header_card">
        <h3 class="card-title">Audit Area Details (Vendor 1)</h3>
      </div>
    </div> -->
    <div class="card-body">
      <div class="accordion" id="accordionExample">
        <div class="d-flex justify-content-center align-content-center mb-2">
          <button class="btn btn-primary mr-1" id="headingOne" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">Check Sheet</button>
          <button class="btn btn-primary mr-1" id="heading2" data-toggle="collapse" data-target="#collapse2" aria-expanded="true" aria-controls="collapseOne">Executive Summary</button>
          <button class="btn btn-primary mr-1" id="heading3" data-toggle="collapse" data-target="#collapse3" aria-expanded="true" aria-controls="collapseOne">C'measure Report Format</button>
        </div>
        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card">
            <div class="card-header">
              <div class="header_card">
                <h3 class="card-title">Audit Area Details (Vendor 1)</h3>
                <button class="btn btn-success">Download PDF</button>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive max_hei_table">
                <table class="table table-bordered">
                  <thead class="bac_table_white">
                    <tr class="now_rap text-center sticky_header">
                      <th>Category</th>
                      <th></th>
                      <th>Audit Area</th>
                      <th></th>
                      <th>Concerning regulation</th>
                      <th>Judgment</th>
                      <th>Remarks</th>
                      <th>Follow</th>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr>
                      <th rowspan="5">１.Production preparation</th>
                    </tr>
                    <tr>
                      <th>1</th>
                      <td>Regarding implementation rule of production preparation</td>
                      <td>①</td>
                      <td>Do you define in regulation following items for production preparation?-scope of parts,-responsibility of each department　-control contents/items?</td>
                      <td>△</td>
                      <td>
                        -APQP matrix activity and time plan activity are not matching.
                        - Phases are not included in APQP matrix and some activities such as training of operator is not mentioned in APQP matrix as well as time plan.
                      </td>
                      <td></td>
                    </tr>
                    <tr>
                      <th>2</th>
                      <td>Regarding implementation rule of production preparation</td>
                      <td>①</td>
                      <td>Do you define in regulation following items for production preparation?-scope of parts,-responsibility of each department　-control contents/items?</td>
                      <td>△</td>
                      <td>
                        -APQP matrix activity and time plan activity are not matching.
                        - Phases are not included in APQP matrix and some activities such as training of operator is not mentioned in APQP matrix as well as time plan.
                      </td>
                      <td></td>
                    </tr>
                    <tr>
                      <th>3</th>
                      <td>Regarding implementation rule of production preparation</td>
                      <td>①</td>
                      <td>Do you define in regulation following items for production preparation?-scope of parts,-responsibility of each department　-control contents/items?</td>
                      <td>△</td>
                      <td>
                        -APQP matrix activity and time plan activity are not matching.
                        - Phases are not included in APQP matrix and some activities such as training of operator is not mentioned in APQP matrix as well as time plan.
                      </td>
                      <td></td>
                    </tr>
                    <tr>
                      <th>4</th>
                      <td>Regarding implementation rule of production preparation</td>
                      <td>①</td>
                      <td>Do you define in regulation following items for production preparation?-scope of parts,-responsibility of each department　-control contents/items?</td>
                      <td>△</td>
                      <td>
                        -APQP matrix activity and time plan activity are not matching.
                        - Phases are not included in APQP matrix and some activities such as training of operator is not mentioned in APQP matrix as well as time plan.
                      </td>
                      <td></td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
        <div id="collapse2" class="collapse" aria-labelledby="heading2" data-parent="#accordionExample">
          <div class="card">
            <div class="card-header">
              <div class="header_card">
                <h3 class="card-title">Audit Area Details (Vendor 1)</h3>
                <button class="btn btn-success">Download PDF</button>
              </div>
            </div>
            <div class="card-body">
              <div class="table-responsive max_hei_table">
                <table class="table table-bordered">
                  <thead class="bac_table_white">
                    <tr class="text-center ">
                      <th rowspan="2" class="ver_midd"> Vendor Quality System Audit Report</th>
                      <th>Issue Deptt</th>
                      <td>QA-VSA</td>
                      <th>Prepared</th>
                      <th>Verified</th>
                      <th>Approved</th>
                    </tr>
                    <tr class="text-center">
                      <th>Date of Issue
                      <td>{{auditReportData.dateOfIssue | date:dateFormat}}</td>
                      <td>{{auditReportData.preparedBy}}</td>
                      <td>{{auditReportData.verifiedBy}}</td>
                      <td>{{auditReportData.approvedBy}}</td>
                    </tr>
                  </thead>
                  <tbody class="text-center">
                    <tr>
                      <th colspan="2">Copy to</th>
                      <th>Supplier name</th>
                      <th>Supplier Attendant Name</th>
                      <th colspan="2">Audit Date</th>
                    </tr>
                    <tr>
                      <td>Vendor</td>
                      <td>1</td>
                      <td rowspan="2" class="ver_midd">Dummy Industries</td>
                      <td>Mr. X - Director</td>
                      <td colspan="2">{{auditReportData.auditDate | date:dateFormat}}</td>
                    </tr>
                    <tr>
                      <td>QAPQ</td>
                      <td>1</td>
                      <td rowspan="2">Mr. Y - Plant Head</td>  
                      <th colspan="2">Audit Person</th>
                    </tr>
                    <tr>
                      <td>SC</td>
                      <td>1</td>
                      <th>Supplier code:DD01</th>
                      <td colspan="2">{{auditReportData.auditPerson}}</td>
                    </tr>
                    <tr>
                      <td></td>
                      <td></td>
                      <th>(Audit Score)</th>
                    </tr>
                    <tr>
                      <td>Total</td>
                      <td>3</td>
                      <td>62</td>
                    </tr>
                  </tbody>
                  <tbody class="text-center">
                  </tbody>
                </table>
              </div>
              <div class="table-responsive max_hei_table">
              <table class="table table-borderd">
                <thead>
                  <tr class="now_rap text-center sticky_header">
                    <th rowspan="2" class="ver_midd"><b>Subject:</b> Vendor System Audit</th>
                    <th>Part Number：</th>
                    <td>{{auditReportData.partNumber}}</td>
                  </tr>
                  <tr class="text-center">
                    <th>Part Name:</th>
                    <td>{{auditReportData.partNumber}}</td>
                  </tr>
                </thead>
              </table>
              </div>
  
              <p class="mb-1 mt-2"><b>Supplier category is "Yellow". Major improvement areas are as follows:-</b></p>
              <p>
                1- New product development planning needs improvement.  All relevant activities to be included in preparation of APQP plan.<br>
                2- Review of APQP plan to be adequately recorded and Process FMEAs to be made in accordance with the defined standards.<br>
                3- Initial flow control process implementation to be improved. Extension criteria of the activity to be clearly defined..<br>
                4- 4M change management to be defined and implemented effectively on shop floor with proper recording and quality checks of parts..<br>
                5- Tier - 2 supplier controls needs strengthening. Supplier rating and auditing system to be standardized..<br>
                6- Skill Evaluation criteria to be defined for operators and adherence to be strengthened. Monitoring of annual training plan to be improved..<br>
                7- Quality abnormality handling process needs effective implementation with focus on root cause analysis and standardization of countermeasure actions..<br>
                8- Implementation of updated standards on shop floor and actual working as per defined PCS / WI to be ensured..<br>
                9- Adherence of material storage system (FIFO etc.) at BOP area to be improved. Visual identification of material to be strengthened..<br>
                10- Implementation of defined work instructions and adherence to set standards to be strengthened..<br>
              </p>
              <img src="dist/img/graph.png" class="w_100">
            </div>
          </div>
        </div>
        <div id="collapse3" class="collapse" aria-labelledby="heading3" data-parent="#accordionExample">
          <div class="card">
            <div class="card-header">
              <div class="header_card">
                <h3 class="card-title">Audit Area Details (Vendor 1)</h3>
                <button class="btn btn-success">Download PDF</button>
              </div>
            </div>
            <div class="card-body">
              <div class="row">
                <div class="col-sm-6">
                  <div class="table-responsive max_hei_table">
                    <table class="table table-bordered">
                      <thead class="bac_table_white">
                        <tr class="">
                          <td rowspan="5">
                            <p class="rota_css">Planning</p>
                          </td>
                          <td>RECEIVING DATE</td>
                          <td rowspan="5">
                            <p class="rota_css">Planning</p>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td rowspan="4"></td>
                          <td></td>
                          <td></td> 
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>  
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Total</td>
                          <td>0</td> 
                        </tr>
                        <tr class="">
                          <td rowspan="5">
                            <p class="rota_css">Verification</p>
                          </td>
                          <td>RECEIVING DATE</td>
                          <td rowspan="5">
                            <p class="rota_css">Verification</p>
                          </td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td rowspan="4"></td>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td></td>
                          <td></td>
                        </tr>
                        <tr>
                          <td>Total</td>
                          <td>0</td>
                        </tr>
                      </thead>
                    </table>
                  </div>
                  <div class="table-responsive max_hei_table">
                    <table class="table table-bordered">
                      <thead class="bac_table_white">
                        <tr class="">
                          <th>Audit Point</th>
                          <td></td>
                        </tr>
                      </thead>
                    </table>
                  </div>
                </div>
                <div class="col-sm-6">
                  <div class="table-responsive max_hei_table">
                    <table class="table table-bordered">
                      <thead class="bac_table_white">
                        <tr class="">
                          <td rowspan="2">VENDOR NAME</td>
                          <td rowspan="2"></td>
                          <td></td>
                          <td>PLANNED</td>
                          <td>CHECKED</td>
                          <td>APPROVED</td>
                        </tr>
                        <tr class="">
                          <td rowspan="2">VENDOR NAME</td>
                          <td>PLANNED</td>
                          <td>CHECKED</td>
                          <td>APPROVED</td>
                        </tr>
                      </thead>
                    </table>
                  </div>
                  <div class="table-responsive max_hei_table">
                    <table class="table table-bordered">
                      <thead class="bac_table_white">
                        <tr class="">
                          <th>DEADLINE FOR SUBMISSION OF PLAN</th>
                          <td></td>
                          <th>DEADLINE FOR SUBMISSION OF ACTUAL RESULT</th>
                          <td></td>
                        </tr>
                      </thead>
                    </table>
                  </div>
                </div>
              </div>
              <div class="table-responsive max_hei_table">
                <table class="table table-bordered">
                  <thead class="bac_table_white">
                    <tr class="">
                      <th>ITEM NO.</th>
                      <th>SUB ITEM NO.</th>
                      <th>DESIRED IMPROVEMENT POINTS</th>
                      <th>DETAIL OF IMPROVEMENT PLAN</th>
                      <th>IN-CHARGE</th>
                      <th>DATE</th>
                      <th>RESULT OF VERIFICATION</th>
                    </tr>
                  </thead>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer">
      <button type="button" class="btn btn-default" (click)="back()">Back</button>
    </div>
</div>
