<div class="modal-header">
    <h4 class="modal-title pull-left">Set Password</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="setPasswordForm">
        <div class="col-sm-8">
            <div class="form-group">
              <label>Current Password</label>
              <input type="password" class="form-control"  formControlName="password">
            </div>
        </div>
        <div class="col-sm-8">
            <div class="form-group">
              <label>New Password</label>
              <input type="password" class="form-control"  formControlName="newPassword">
            </div>
        </div>
    </form>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary mr-1" type="submit" (click)="submit()">Submit</button>
    <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">Cancel</button>
  </div>