<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div>
                    <div class="d-flex justify-content-center mb-2 flex_direction_media">
                        <a class="child_counter">
                            <div class=" p-2 gradien_plan">
                                <div class="d-flex justify-content-between align-items-center">
                                    <img src="../../../../assets/icons/counter/user.png" class="counter_img">
                                    <p class="color_white mb-0 fon_13">Total Auditor(MTD)</p>
                                </div>
                                <div>
                                    <p class="counter_digit">8</p>
                                    <a></a>
                                </div>
                            </div>
                        </a>
                        <a class="child_counter">
                            <div class="p-2 gradien_approve">
                                <div class="d-flex justify-content-between align-items-center">
                                    <img src="../../../../assets/icons/counter/operation.png" class="counter_img">
                                    <p class="color_white mb-0 fon_13">In Progress</p>
                                </div>
                                <div>
                                    <p class="counter_digit">6</p>
                                    <a></a>
                                </div>
                            </div>
                        </a>
                        <a class="child_counter">
                            <div class="p-2 gradien_pending">
                                <div class="d-flex justify-content-between align-items-center">
                                    <img src="../../../../assets/icons/counter/complete.png" class="counter_img">
                                    <p class="color_white mb-0 fon_13">Completed</p>
                                </div>
                                <div>
                                    <p class="counter_digit">6</p>
                                    <a></a>
                                </div>
                            </div>
                        </a>
                        <a class="child_counter">
                            <div class="p-2 gradien_auditor_assign">
                                <div class="d-flex justify-content-between align-items-center">
                                    <img src="../../../../assets/icons/counter/pastdue.png" class="counter_img">
                                    <p class="color_white mb-0 fon_13">Past Due</p>
                                </div>
                                <div>
                                    <p class="counter_digit">6</p>
                                    <a></a>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="card">
                        <div class="card-header">
                            <div class="header_card justify-content-center mb-1">
                                <h3 class="card-title">Audit Area Details</h3>
                                
                                <!-- <div class="d-flex align-items-center">
                                    <h6 class="mr-1 mb-0">Filters:-</h6>
                                    <input type="text" [(ngModel)]="vendorName" class="form-control mr-1 filter_css" placeholder="Vendor Name ">
                                    <input type="date" [(ngModel)]="plannedStartDate" class="form-control mr-1 filter_css" placeholder="Date ">
                                    <input type="text" [(ngModel)]="statusName" class="form-control mr-1 filter_css" placeholder="Status ">
                                    <button type="button" (click)="filter()" class="form-control mr-1 filter_css btn btn-primary">Submit </button>
                                    <button type="button" (click)="reset()" class="form-control mr-1 filter_css btn btn-secondary">Reset</button>
                                </div> -->
                            </div>
                            <div class="d-flex align-items-center justify-content-center">
                                <h6 class="mr-1 mb-0">Filters:-</h6>
                                <div class=" mr-1">
                                    <label class="filter_label">Vendor Code</label>
                                    <input type="text" class="form-control mr-1 filter_css" placeholder="Vendor Name ">
                                  </div>
                                <div class=" mr-1">
                                  <label class="filter_label">Vendor Name</label>
                                  <input type="text" [(ngModel)]="vendorName" class="form-control mr-1 filter_css" placeholder="Vendor Name ">
                                </div>
              
                                <div class=" mr-1">
                                  <label class="filter_label">From Date</label>
                                  <input type="date" [(ngModel)]="plannedStartDate" class="form-control mr-1 filter_css" placeholder="Date ">
                              </div>
              
                             <div class=" mr-1">
                                  <label class="filter_label">To Date</label>
                                  <input type="date" [(ngModel)]="plannedStartDate" class="form-control mr-1 filter_css" placeholder="Date ">
                              </div>
              
                             <div class=" mr-1">
                                  <label class="filter_label">Status</label>
                                  <input type="text" [(ngModel)]="statusName" class="form-control mr-1 filter_css" placeholder="Status ">
                              </div>
               <div class="mt_24">
                <button type="button" (click)="filter()" class="form-control mr-1 filter_css heigh_60 btn btn-primary"><span>Submit</span> </button>
                <button type="button" (click)="reset()" class="form-control mr-1 filter_css heigh_60 btn btn-secondary"><span>Reset</span></button>
                              </div>  <!-- <button class="btn btn-success d-flex  align-items-center">
                                  <i class="fas fa-upload mr-1 upload_ico"></i>
                                  <span class="now_rap">Upload Plan</span>
                                </button> -->
                              </div>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive max_hei_table">
                                <table id="" class="table table-bordered table-hover">
                                    <thead>
                                        <tr class=" text-center sticky_header">
                                            <th>Vendor Code </th>
                                            <th>Vendor Name</th>
                                            <th>Location</th>
                                            <th>Any Other Location</th>
                                            <th>Planned Start Date </th>
                                            <th>Planned End Date</th>
                                           
                                            <th>Status </th>
                                            <th *ngIf="isAuditor || isPlanner">View</th>
                                            <th *ngIf="isAuditor || isSuperAdmin">Initiate Audit </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr class="tbody_data" *ngFor="let item of viewPlanListToShow ">
                                         <td>{{item.vendorCode}}</td>
                                         <td>{{item.vendorName}}</td>
                                         <td>{{item.locationName}}</td>
                                         <td>{{item.otherLocation}}</td>
                                         <td>{{item.plannedStartDate | date:dateFormate}}</td>
                                         <td>{{item.plannedEndDate | date:dateFormate}}</td>
                                       
                                         <td><p [ngClass]="item.status" data-toggle="tooltip" data-placement="top" title="Tooltip on top">{{item.status}} </p></td>
                                            <td *ngIf="isAuditor || isPlanner">
                                                <a (click)="viewManageAudit()" data-toggle="tooltip" data-placement="top" title="Tooltip on top"><img
                                                        src="../../../../assets/icon/view.png" class="viwe_iamge"></a>
                                            </td>
                                            <td *ngIf="isAuditor || isSuperAdmin">
                                                <a (click)="initiateAudit(item)" data-toggle="tooltip" data-placement="top" title="Tooltip on top"><img
                                                        src="../../../../assets/icons/auditini.png" class="viwe_iamge"></a>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justift_end">
                                    <li class="page-item">
                                        <a class="page-link"  aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    </li>
                                    <li class="page-item"><a class="page-link" >1</a></li>
                                    <li class="page-item"><a class="page-link" >2</a></li>
                                    <li class="page-item"><a class="page-link" >3</a></li>
                                    <li class="page-item">
                                        <a class="page-link"  aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>